In [1]:
import pandas as pd
import nltk
import re
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
df=pd.read_csv("C:/Users/maziyu/Desktop/BIA650/project/Data Cleaning/only contents.csv")

In [3]:
df.head(5)

   category_id                                           contents
0           22  WE WANT TO TALK ABOUT OUR MARRIAGE CaseyNeista...
1           24  The Trump Presidency  Last Week Tonight with J...
2           23  Racist Superman   Rudy Mancuso  King Bach   Le...
3           24  Nickelback Lyrics  Real or Fake  Good Mythical...
4           24  I Dare You  GOING BALD   nigahiga ryan  higa  ...

In [4]:

vec=CountVectorizer(lowercase=True, stop_words='english',ngram_range=(1,1))
x=vec.fit_transform(df.ix[:,1].values.astype('U'))
DTM=pd.DataFrame(x.toarray(),columns=vec.get_feature_names())

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [5]:
df.head()

   category_id                                           contents
0           22  WE WANT TO TALK ABOUT OUR MARRIAGE CaseyNeista...
1           24  The Trump Presidency  Last Week Tonight with J...
2           23  Racist Superman   Rudy Mancuso  King Bach   Le...
3           24  Nickelback Lyrics  Real or Fake  Good Mythical...
4           24  I Dare You  GOING BALD   nigahiga ryan  higa  ...

In [6]:
df=df.drop(['contents'],1)
result=pd.concat([df,DTM],axis=1)

In [7]:
result.head()

,category_id,00,000,000fps,000hp,003,007,00z,01,01t18,...,zuckerberg,zueira,zuiikin,zuma,zurcaroh,zurich,zurita,zxcvbnm,zygote,zylka
0,22,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
del(df)
del(DTM)

In [63]:
result.to_csv("C:/Users/maziyu/Desktop/BIA650/project/Data Cleaning/result_tobe_modeled.csv")

In [9]:
import xgboost as xgb
from numpy import loadtxt
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [10]:
seed = 7
test_size = 0.33
result_train,result_test = train_test_split(result, test_size=test_size, random_state=seed)

In [11]:
train_x=result_train.iloc[:,1:24947]
train_y=result_train.iloc[:,0]
test_x=result_test.iloc[:,1:24947]
test_y=result_test.iloc[:,0]

In [12]:
train_y=train_y.astype('int32')
test_y=test_y.astype('int32')

In [29]:
test_y.to_csv("C:/Users/maziyu/Desktop/BIA650/project/Data Cleaning/train_y2.csv")

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [13]:
del(result_test)
del(result_train)

In [30]:
test_y.iloc[13513]=4

In [14]:
for i in range(0,27434):
    if train_y.iloc[i]==1:
        train_y.iloc[i]=0
    if train_y.iloc[i]==2:
        train_y.iloc[i]=1
    if train_y.iloc[i]==10:
        train_y.iloc[i]=2
    if train_y.iloc[i]==15:
        train_y.iloc[i]=3
    if train_y.iloc[i]==17:
        train_y.iloc[i]=4
    if train_y.iloc[i]==19:
        train_y.iloc[i]=5
    if train_y.iloc[i]==20:
        train_y.iloc[i]=6
    if train_y.iloc[i]==22:
        train_y.iloc[i]=7
    if train_y.iloc[i]==23:
        train_y.iloc[i]=8
    if train_y.iloc[i]==24:
        train_y.iloc[i]=9
    if train_y.iloc[i]==25:
        train_y.iloc[i]=10
    if train_y.iloc[i]==26:
        train_y.iloc[i]=11
    if train_y.iloc[i]==27:
        train_y.iloc[i]=12
    if train_y.iloc[i]==28:
        train_y.iloc[i]=13
    if train_y.iloc[i]==29:
        train_y.iloc[i]=14
    if train_y.iloc[i]==43:
        train_y.iloc[i]=15

In [21]:
train_y.to_csv("C:/Users/maziyu/Desktop/BIA650/project/Data Cleaning/train_y3.csv")

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [15]:
for i in range(0,13513):
    if test_y.iloc[i]==1:
        test_y.iloc[i]=0
    if test_y.iloc[i]==2:
        test_y.iloc[i]=1
    if test_y.iloc[i]==10:
        test_y.iloc[i]=2
    if test_y.iloc[i]==15:
        test_y.iloc[i]=3
    if test_y.iloc[i]==17:
        test_y.iloc[i]=4
    if test_y.iloc[i]==19:
        test_y.iloc[i]=5
    if test_y.iloc[i]==20:
        test_y.iloc[i]=6
    if test_y.iloc[i]==22:
        test_y.iloc[i]=7
    if test_y.iloc[i]==23:
        test_y.iloc[i]=8
    if test_y.iloc[i]==24:
        test_y.iloc[i]=9
    if test_y.iloc[i]==25:
        test_y.iloc[i]=10
    if test_y.iloc[i]==26:
        test_y.iloc[i]=11
    if test_y.iloc[i]==27:
        test_y.iloc[i]=12
    if test_y.iloc[i]==28:
        test_y.iloc[i]=13
    if test_y.iloc[i]==29:
        test_y.iloc[i]=14
    if test_y.iloc[i]==43:
        test_y.iloc[i]=15

In [31]:
xgtrain=xgb.DMatrix(train_x,label=train_y)
xgtest=xgb.DMatrix(test_x,label=test_y)

C:\ProgramData\Anaconda3\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
C:\ProgramData\Anaconda3\lib\site-packages\xgboost\core.py:588: FutureWarning: Series.base is deprecated and will be removed in a future version
  data.base is not None and isinstance(data, np.ndarray) \

In [79]:
train_y.shape[0]

27435

In [52]:
train_y.iloc[27435]

IndexError: single positional indexer is out-of-bounds

In [57]:
test_y.shape[0]

13514

In [32]:
params ={'learning_rate': 0.4,
          'max_depth': 20,               
          'num_boost_round':2000,
          'objective': 'multi:softprob', 
          'random_state': 7,
          'silent':0,
          'nthread':4,
          'num_class':16,                 
          'eta':0.8                      
        }

In [33]:
watchlist=[(xgtrain,'train'),(xgtest,'test')]
num_round=5
bst=xgb.train(params,xgtrain,num_round,watchlist)

[0]	train-merror:0.143211	test-merror:0.15717
[1]	train-merror:0.089156	test-merror:0.106556
[2]	train-merror:0.065172	test-merror:0.081619
[3]	train-merror:0.054055	test-merror:0.070815
[4]	train-merror:0.044396	test-merror:0.062528