In [1]:
%load_ext sql
%sql postgresql://postgres:00wasabi00@127.0.0.1/salesdb

'Connected: postgres@salesdb'

# CS561 – Programming Assignment 2

1.For each customer, product and state combination, compute 
- (1) the customer's average sale of this product for the state, 
- (2) the average sale of the product and the customer but for the other states and 
- (3) the customer’s average sale for the given state, but for the other products.

In [4]:
%%sql
with avg_table as(
    select cust, prod, state,round(avg(quant),2) as cust_avg 
    from sales
    group by cust, prod, state
),
avg_state as(
    select a.cust,a.prod,a.state, avg(b.quant) as other_state_avg
    from sales as a, sales as b
    where a.cust=b.cust
    and a.prod=b.prod
    and a.state != b.state
    group by a.cust,a.prod,a.state
),
avg_prod as(
    select a.cust,a.prod,a.state, avg(b.quant) as other_prod_avg
    from sales as a
    join sales as b
    on a.cust=b.cust
    and a.prod<>b.prod
    and a.state=b.state
    group by a.cust,a.prod,a.state
)
select distinct a.cust,a.prod,a.state,
round(a.cust_avg,2) as cust_avg,
round(b.other_state_avg,2) as other_state_avg,
round(c.other_prod_avg,2) as other_prod_avg
from avg_table as a
natural inner join avg_state as b 
natural inner join avg_prod as c
order by a.cust,a.prod

 * postgresql://postgres:***@127.0.0.1/salesdb
187 rows affected.

[('Bloom', 'Bread', 'CT', Decimal('1529.60'), Decimal('2527.86'), Decimal('2782.43')),
 ('Bloom', 'Bread', 'NJ', Decimal('2160.60'), Decimal('2077.14'), Decimal('2567.17')),
 ('Bloom', 'Bread', 'NY', Decimal('3792.00'), Decimal('1959.18'), Decimal('2546.35')),
 ('Bloom', 'Bread', 'PA', Decimal('3100.00'), Decimal('2022.09'), Decimal('2146.41')),
 ('Bloom', 'Butter', 'CT', Decimal('4279.00'), Decimal('2386.00'), Decimal('2472.00')),
 ('Bloom', 'Butter', 'NJ', Decimal('3718.00'), Decimal('2666.50'), Decimal('2453.46')),
 ('Bloom', 'Butter', 'NY', Decimal('1054.00'), Decimal('3998.50'), Decimal('2707.41')),
 ('Bloom', 'Coke', 'CT', Decimal('2284.00'), Decimal('2354.57'), Decimal('2562.96')),
 ('Bloom', 'Coke', 'NJ', Decimal('2017.00'), Decimal('2499.83'), Decimal('2552.46')),
 ('Bloom', 'Coke', 'NY', Decimal('1229.00'), Decimal('2477.63'), Decimal('2697.12')),
 ('Bloom', 'Coke', 'PA', Decimal('3067.33'), Decimal('1974.67'), Decimal('2055.95')),
 ('Bloom', 'Cookies', 'CT', Decimal('2640.75'), Decimal('3411.80'), Decimal('2523.45')),
 ('Bloom', 'Cookies', 'NJ', Decimal('4063.50'), Decimal('2785.00'), Decimal('2381.04')),
 ('Bloom', 'Cookies', 'NY', Decimal('4570.00'), Decimal('2881.50'), Decimal('2500.59')),
 ('Bloom', 'Cookies', 'PA', Decimal('2181.00'), Decimal('3322.86'), Decimal('2188.52')),
 ('Bloom', 'Eggs', 'CT', Decimal('2410.75'), Decimal('2558.57'), Decimal('2565.27')),
 ('Bloom', 'Eggs', 'NJ', Decimal('2765.50'), Decimal('2446.89'), Decimal('2477.19')),
 ('Bloom', 'Eggs', 'NY', Decimal('2164.00'), Decimal('2699.57'), Decimal('2744.57')),
 ('Bloom', 'Eggs', 'PA', Decimal('3723.00'), Decimal('2383.00'), Decimal('2118.09')),
 ('Bloom', 'Fruits', 'CT', Decimal('3639.33'), Decimal('2220.93'), Decimal('2398.30')),
 ('Bloom', 'Fruits', 'NJ', Decimal('2234.00'), Decimal('2522.07'), Decimal('2527.42')),
 ('Bloom', 'Fruits', 'NY', Decimal('2332.75'), Decimal('2513.85'), Decimal('2696.36')),
 ('Bloom', 'Fruits', 'PA', Decimal('2151.43'), Decimal('2695.10'), Decimal('2203.81')),
 ('Bloom', 'Milk', 'CT', Decimal('3117.33'), Decimal('2658.90'), Decimal('2466.39')),
 ('Bloom', 'Milk', 'NJ', Decimal('2380.00'), Decimal('2935.67'), Decimal('2515.80')),
 ('Bloom', 'Milk', 'NY', Decimal('3306.33'), Decimal('2602.20'), Decimal('2477.40')),
 ('Bloom', 'Milk', 'PA', Decimal('2383.33'), Decimal('2879.10'), Decimal('2158.55')),
 ('Bloom', 'Pepsi', 'CT', Decimal('94.00'), Decimal('2185.14'), Decimal('2639.40')),
 ('Bloom', 'Pepsi', 'NJ', Decimal('2194.00'), Decimal('1653.50'), Decimal('2545.56')),
 ('Bloom', 'Pepsi', 'NY', Decimal('2243.00'), Decimal('1817.33'), Decimal('2662.13')),
 ('Bloom', 'Pepsi', 'PA', Decimal('2034.00'), Decimal('1908.00'), Decimal('2194.86')),
 ('Bloom', 'Soap', 'CT', Decimal('2505.00'), Decimal('2313.50'), Decimal('2544.54')),
 ('Bloom', 'Soap', 'NJ', Decimal('4364.00'), Decimal('1980.00'), Decimal('2430.39')),
 ('Bloom', 'Soap', 'PA', Decimal('1630.00'), Decimal('3124.67'), Decimal('2271.55')),
 ('Bloom', 'Yogurt', 'CT', Decimal('4004.00'), Decimal('1952.29'), Decimal('2483.00')),
 ('Bloom', 'Yogurt', 'NJ', Decimal('2205.75'), Decimal('2211.75'), Decimal('2543.68')),
 ('Bloom', 'Yogurt', 'NY', Decimal('4043.00'), Decimal('1946.71'), Decimal('2531.59')),
 ('Bloom', 'Yogurt', 'PA', Decimal('400.00'), Decimal('2811.67'), Decimal('2358.14')),
 ('Emily', 'Bread', 'CT', Decimal('1626.00'), Decimal('1524.11'), Decimal('2688.46')),
 ('Emily', 'Bread', 'NJ', Decimal('1743.75'), Decimal('1394.67'), Decimal('2804.36')),
 ('Emily', 'Bread', 'NY', Decimal('1281.50'), Decimal('1597.50'), Decimal('2716.68')),
 ('Emily', 'Bread', 'PA', Decimal('1393.00'), Decimal('1594.86'), Decimal('2254.29')),
 ('Emily', 'Butter', 'CT', Decimal('1843.75'), Decimal('2695.40'), Decimal('2798.76')),
 ('Emily', 'Butter', 'NJ', Decimal('2576.00'), Decimal('2242.86'), Decimal('2646.63')),
 ('Emily', 'Butter', 'NY', Decimal('2826.00'), Decimal('2253.25'), Decimal('2587.13')),
 ('Emily', 'Butter', 'PA', Decimal('2749.50'), Decimal('2193.29'), Decimal('2091.82')),
 ('Emily', 'Coke', 'CT', Decimal('2456.33'), Decimal('2385.33'), Decimal('2671.82')),
 ('Emily', 'Coke', 'NJ', Decimal('2269.00'), Decimal('2479.00'), Decimal('2689.74')),
 ('Emily', 'Coke', 'NY', Decimal('2501.67'), Decimal('2362.67'), Decimal('2610.71')),
 ('Emily', 'Cookies', 'CT', Decimal('3962.33'), Decimal('2375.23'), Decimal('2466.45')),
 ('Emily', 'Cookies', 'NJ', Decimal('1774.80'), Decimal('3081.00'), Decimal('2847.48')),
 ('Emily', 'Cookies', 'NY', Decimal('2463.50'), Decimal('2742.58'), Decimal('2623.80')),
 ('Emily', 'Cookies', 'PA', Decimal('3037.50'), Decimal('2551.25'), Decimal('1968.45')),
 ('Emily', 'Eggs', 'CT', Decimal('2722.00'), Decimal('2759.82'), Decimal('2642.79')),
 ('Emily', 'Eggs', 'NJ', Decimal('3845.00'), Decimal('2212.50'), Decimal('2422.32')),
 ('Emily', 'Eggs', 'NY', Decimal('2787.00'), Decimal('2746.56'), Decimal('2569.95')),
 ('Emily', 'Eggs', 'PA', Decimal('1654.25'), Decimal('3307.88'), Decimal('2245.10')),
 ('Emily', 'Fruits', 'CT', Decimal('3055.00'), Decimal('2667.00'), Decimal('2628.92')),
 ('Emily', 'Fruits', 'NJ', Decimal('4056.00'), Decimal('2449.73'), Decimal('2523.29')),
 ('Emily', 'Fruits', 'NY', Decimal('2463.00'), Decimal('2800.78'), Decimal('2623.90')),
 ('Emily', 'Fruits', 'PA', Decimal('2340.00'), Decimal('3002.71'), Decimal('2082.17')),
 ('Emily', 'Milk', 'CT', Decimal('1957.33'), Decimal('3087.00'), Decimal('2739.86')),
 ('Emily', 'Milk', 'NJ', Decimal('3839.00'), Decimal('2495.43'), Decimal('2593.28')),
 ('Emily', 'Milk', 'NY', Decimal('4986.00'), Decimal('2331.57'), Decimal('2493.22')),
 ('Emily', 'Milk', 'PA', Decimal('2203.33'), Decimal('2939.40'), Decimal('2138.52')),
 ('Emily', 'Pepsi', 'CT', Decimal('4356.67'), Decimal('2428.00'), Decimal('2412.68')),
 ('Emily', 'Pepsi', 'NJ', Decimal('2591.00'), Decimal('3365.17'), Decimal('2643.20')),
 ('Emily', 'Pepsi', 'NY', Decimal('2719.50'), Decimal('3468.60'), Decimal('2585.95')),
 ('Emily', 'Pepsi', 'PA', Decimal('1682.00'), Decimal('3516.67'), Decimal('2166.83')),
 ('Emily', 'Soap', 'CT', Decimal('2241.67'), Decimal('2513.00'), Decimal('2701.09')),
 ('Emily', 'Soap', 'NJ', Decimal('2868.33'), Decimal('2137.00'), Decimal('2611.57')),
 ('Emily', 'Soap', 'NY', Decimal('3218.00'), Decimal('2296.00'), Decimal('2570.09')),
 ('Emily', 'Soap', 'PA', Decimal('742.00'), Decimal('2649.71'), Decimal('2207.70')),
 ('Emily', 'Yogurt', 'CT', Decimal('2149.33'), Decimal('2515.50'), Decimal('2713.68')),
 ('Emily', 'Yogurt', 'NJ', Decimal('2336.00'), Decimal('2362.33'), Decimal('2653.40')),
 ('Emily', 'Yogurt', 'NY', Decimal('2575.33'), Decimal('2196.00'), Decimal('2600.19')),
 ('Helen', 'Bread', 'CT', Decimal('3016.67'), Decimal('2663.67'), Decimal('2208.61')),
 ('Helen', 'Bread', 'NJ', Decimal('2100.00'), Decimal('2976.00'), Decimal('2375.21')),
 ('Helen', 'Bread', 'NY', Decimal('3381.67'), Decimal('2481.17'), Decimal('2235.54')),
 ('Helen', 'Bread', 'PA', Decimal('1637.00'), Decimal('2924.38'), Decimal('2199.61')),
 ('Helen', 'Butter', 'CT', Decimal('306.00'), Decimal('1985.10'), Decimal('2339.73')),
 ('Helen', 'Butter', 'NJ', Decimal('1708.44'), Decimal('2047.46'), Decimal('2634.76')),
 ('Helen', 'Butter', 'NY', Decimal('2685.29'), Decimal('1546.40'), Decimal('2248.73')),
 ('Helen', 'Butter', 'PA', Decimal('1502.80'), Decimal('2028.18'), Decimal('2408.29')),
 ('Helen', 'Coke', 'CT', Decimal('2648.43'), Decimal('2590.50'), Decimal('2184.37')),
 ('Helen', 'Coke', 'NJ', Decimal('2904.60'), Decimal('2474.00'), Decimal('2247.32')),
 ('Helen', 'Coke', 'NY', Decimal('1534.50'), Decimal('2784.15'), Decimal('2414.81')),
 ('Helen', 'Coke', 'PA', Decimal('3132.00'), Decimal('2580.79'), Decimal('2116.56')),
 ('Helen', 'Cookies', 'CT', Decimal('1179.00'), Decimal('2179.67'), Decimal('2348.72')),
 ('Helen', 'Cookies', 'NJ', Decimal('1965.00'), Decimal('1733.00'), Decimal('2370.38')),
 ('Helen', 'Cookies', 'NY', Decimal('2287.00'), Decimal('1441.00'), Decimal('2359.07')),
 ('Helen', 'Eggs', 'CT', Decimal('2301.50'), Decimal('1968.75'), Decimal('2277.03')),
 ('Helen', 'Eggs', 'NY', Decimal('3200.00'), Decimal('1983.00'), Decimal('2323.89')),
 ('Helen', 'Eggs', 'PA', Decimal('1558.33'), Decimal('2481.20'), Decimal('2284.69')),
 ('Helen', 'Fruits', 'CT', Decimal('1760.17'), Decimal('2000.00'), Decimal('2391.29')),
 ('Helen', 'Fruits', 'NJ', Decimal('415.00'), Decimal('2018.25'), Decimal('2423.83')),
 ('Helen', 'Fruits', 'NY', Decimal('2774.00'), Decimal('1723.38'), Decimal('2339.11')),
 ('Helen', 'Fruits', 'PA', Decimal('2811.00'), Decimal('1718.75'), Decimal('2134.39')),
 ('Helen', 'Milk', 'CT', Decimal('1962.67'), Decimal('2150.11'), Decimal('2310.61')),
 ('Helen', 'Milk', 'NJ', Decimal('1839.00'), Decimal('2127.27'), Decimal('2374.72')),
 ('Helen', 'Milk', 'NY', Decimal('1589.40'), Decimal('2470.29'), Decimal('2513.42')),
 ('Helen', 'Milk', 'PA', Decimal('3188.33'), Decimal('1741.56'), Decimal('1979.06')),
 ('Helen', 'Pepsi', 'CT', Decimal('2630.67'), Decimal('2672.10'), Decimal('2245.97')),
 ('Helen', 'Pepsi', 'NJ', Decimal('3267.00'), Decimal('2284.75'), Decimal('2174.84')),
 ('Helen', 'Pepsi', 'NY', Decimal('2507.67'), Decimal('2709.00'), Decimal('2336.38')),
 ('Helen', 'Pepsi', 'PA', Decimal('1431.50'), Decimal('2886.36'), Decimal('2256.88')),
 ('Helen', 'Soap', 'CT', Decimal('1752.00'), Decimal('2712.71'), Decimal('2312.91')),
 ('Helen', 'Soap', 'NJ', Decimal('2791.40'), Decimal('2134.00'), Decimal('2269.96')),
 ('Helen', 'Soap', 'PA', Decimal('2516.00'), Decimal('2494.43'), Decimal('2129.29')),
 ('Helen', 'Yogurt', 'CT', Decimal('3404.33'), Decimal('2333.86'), Decimal('2171.10')),
 ('Helen', 'Yogurt', 'NJ', Decimal('2096.00'), Decimal('2717.11'), Decimal('2365.86')),
 ('Helen', 'Yogurt', 'NY', Decimal('2048.00'), Decimal('3262.00'), Decimal('2417.88')),
 ('Helen', 'Yogurt', 'PA', Decimal('4001.00'), Decimal('2505.44'), Decimal('2068.28')),
 ('Knuth', 'Bread', 'CT', Decimal('2561.17'), Decimal('2865.83'), Decimal('1949.77')),
 ('Knuth', 'Bread', 'NJ', Decimal('1013.00'), Decimal('2868.09'), Decimal('2324.67')),
 ('Knuth', 'Bread', 'NY', Decimal('3370.00'), Decimal('2653.82'), Decimal('2459.35')),
 ('Knuth', 'Bread', 'PA', Decimal('3203.00'), Decimal('2468.75'), Decimal('2330.88')),
 ('Knuth', 'Butter', 'CT', Decimal('2232.00'), Decimal('1062.60'), Decimal('2059.00')),
 ('Knuth', 'Butter', 'NY', Decimal('648.33'), Decimal('1866.67'), Decimal('2811.78')),
 ('Knuth', 'Butter', 'PA', Decimal('1684.00'), Decimal('1044.25'), Decimal('2508.00')),
 ('Knuth', 'Coke', 'CT', Decimal('2113.75'), Decimal('2999.33'), Decimal('2057.36')),
 ('Knuth', 'Coke', 'NJ', Decimal('2340.33'), Decimal('2842.80'), Decimal('2239.75')),
 ('Knuth', 'Coke', 'NY', Decimal('1946.00'), Decimal('2791.92'), Decimal('2530.55')),
 ('Knuth', 'Coke', 'PA', Decimal('3605.40'), Decimal('2177.75'), Decimal('2210.71')),
 ('Knuth', 'Cookies', 'CT', Decimal('3350.67'), Decimal('2289.86'), Decimal('1931.34')),
 ('Knuth', 'Cookies', 'NJ', Decimal('3172.25'), Decimal('2232.00'), Decimal('2011.20')),
 ('Knuth', 'Cookies', 'NY', Decimal('1485.00'), Decimal('2732.89'), Decimal('2553.60')),
 ('Knuth', 'Cookies', 'PA', Decimal('927.50'), Decimal('3028.25'), Decimal('2564.04')),
 ('Knuth', 'Eggs', 'CT', Decimal('2432.50'), Decimal('2608.50'), Decimal('2011.82')),
 ('Knuth', 'Eggs', 'NJ', Decimal('1846.00'), Decimal('2711.13'), Decimal('2303.82')),
 ('Knuth', 'Eggs', 'NY', Decimal('4050.50'), Decimal('2160.00'), Decimal('2339.79')),
 ('Knuth', 'Eggs', 'PA', Decimal('1929.00'), Decimal('2690.38'), Decimal('2489.85')),
 ('Knuth', 'Fruits', 'CT', Decimal('1629.33'), Decimal('1907.55'), Decimal('2109.41')),
 ('Knuth', 'Fruits', 'NJ', Decimal('2013.33'), Decimal('1802.82'), Decimal('2301.06')),
 ('Knuth', 'Fruits', 'NY', Decimal('1251.75'), Decimal('2086.40'), Decimal('2797.06')),
 ('Knuth', 'Fruits', 'PA', Decimal('2484.00'), Decimal('1593.50'), Decimal('2445.92')),
 ('Knuth', 'Milk', 'CT', Decimal('58.00'), Decimal('1212.67'), Decimal('2129.13')),
 ('Knuth', 'Milk', 'NY', Decimal('2424.00'), Decimal('424.00'), Decimal('2506.65')),
 ('Knuth', 'Milk', 'PA', Decimal('607.00'), Decimal('1241.00'), Decimal('2587.78')),
 ('Knuth', 'Pepsi', 'CT', Decimal('1784.50'), Decimal('3029.22'), Decimal('2104.39')),
 ('Knuth', 'Pepsi', 'NJ', Decimal('2394.50'), Decimal('2758.11'), Decimal('2218.60')),
 ('Knuth', 'Pepsi', 'NY', Decimal('4252.33'), Decimal('2164.40'), Decimal('2211.11')),
 ('Knuth', 'Pepsi', 'PA', Decimal('2464.00'), Decimal('2679.36'), Decimal('2450.22')),
 ('Knuth', 'Soap', 'CT', Decimal('1568.00'), Decimal('2096.00'), Decimal('2156.33')),
 ('Knuth', 'Soap', 'NJ', Decimal('657.00'), Decimal('1975.90'), Decimal('2344.44')),
 ('Knuth', 'Soap', 'NY', Decimal('2790.67'), Decimal('1505.50'), Decimal('2454.72')),
 ('Knuth', 'Soap', 'PA', Decimal('1773.50'), Decimal('1874.33'), Decimal('2501.37')),
 ('Knuth', 'Yogurt', 'CT', Decimal('301.00'), Decimal('2979.43'), Decimal('2121.29')),
 ('Knuth', 'Yogurt', 'NJ', Decimal('2167.00'), Decimal('2712.86'), Decimal('2260.56')),
 ('Knuth', 'Yogurt', 'NY', Decimal('3575.00'), Decimal('2334.50'), Decimal('2389.84')),
 ('Knuth', 'Yogurt', 'PA', Decimal('2884.75'), Decimal('2404.50'), Decimal('2381.80')),
 ('Sam', 'Bread', 'CT', Decimal('903.00'), Decimal('1936.83'), Decimal('2139.89')),
 ('Sam', 'Bread', 'NJ', Decimal('2791.33'), Decimal('1010.60'), Decimal('2558.83')),
 ('Sam', 'Bread', 'NY', Decimal('2282.00'), Decimal('1592.14'), Decimal('2435.70')),
 ('Sam', 'Bread', 'PA', Decimal('482.50'), Decimal('2077.00'), Decimal('2605.96')),
 ('Sam', 'Butter', 'NJ', Decimal('3211.50'), Decimal('2191.50'), Decimal('2471.86')),
 ('Sam', 'Butter', 'NY', Decimal('2697.67'), Decimal('2703.80'), Decimal('2383.50')),
 ('Sam', 'Butter', 'PA', Decimal('673.00'), Decimal('2991.29'), Decimal('2509.54')),
 ('Sam', 'Coke', 'CT', Decimal('2745.50'), Decimal('1954.33'), Decimal('1935.17')),
 ('Sam', 'Coke', 'NY', Decimal('1405.00'), Decimal('2848.00'), Decimal('2536.11')),
 ('Sam', 'Coke', 'PA', Decimal('3053.00'), Decimal('2075.25'), Decimal('2410.38')),
 ('Sam', 'Cookies', 'CT', Decimal('1327.50'), Decimal('1914.80'), Decimal('2092.72')),
 ('Sam', 'Cookies', 'NY', Decimal('3376.00'), Decimal('1475.50'), Decimal('2381.00')),
 ('Sam', 'Cookies', 'PA', Decimal('1549.50'), Decimal('2010.33'), Decimal('2604.95')),
 ('Sam', 'Eggs', 'NJ', Decimal('1102.50'), Decimal('2795.33'), Decimal('2709.25')),
 ('Sam', 'Eggs', 'NY', Decimal('2174.67'), Decimal('2490.60'), Decimal('2470.67')),
 ('Sam', 'Eggs', 'PA', Decimal('3416.00'), Decimal('1745.80'), Decimal('2302.45')),
 ('Sam', 'Fruits', 'CT', Decimal('3100.50'), Decimal('3459.75'), Decimal('1895.72')),
 ('Sam', 'Fruits', 'NJ', Decimal('3282.33'), Decimal('3433.14'), Decimal('2494.78')),
 ('Sam', 'Fruits', 'NY', Decimal('3573.50'), Decimal('3341.50'), Decimal('2307.84')),
 ('Sam', 'Fruits', 'PA', Decimal('3561.33'), Decimal('3313.57'), Decimal('2282.64')),
 ('Sam', 'Milk', 'CT', Decimal('1423.20'), Decimal('2059.13'), Decimal('2213.87')),
 ('Sam', 'Milk', 'NJ', Decimal('4522.00'), Decimal('1588.92'), Decimal('2508.20')),
 ('Sam', 'Milk', 'NY', Decimal('1600.75'), Decimal('1909.56'), Decimal('2623.12')),
 ('Sam', 'Milk', 'PA', Decimal('1849.33'), Decimal('1804.10'), Decimal('2516.09')),
 ('Sam', 'Pepsi', 'CT', Decimal('2375.75'), Decimal('3260.56'), Decimal('1926.31')),
 ('Sam', 'Pepsi', 'NJ', Decimal('3086.33'), Decimal('2904.29'), Decimal('2435.45')),
 ('Sam', 'Pepsi', 'NY', Decimal('3993.00'), Decimal('2805.64'), Decimal('2263.68')),
 ('Sam', 'Pepsi', 'PA', Decimal('2841.00'), Decimal('3000.58'), Decimal('2419.21')),
 ('Sam', 'Soap', 'CT', Decimal('2461.00'), Decimal('2175.40'), Decimal('1992.79')),
 ('Sam', 'Soap', 'NJ', Decimal('1348.25'), Decimal('2688.86'), Decimal('2810.64')),
 ('Sam', 'Soap', 'NY', Decimal('2529.00'), Decimal('2128.56'), Decimal('2417.79')),
 ('Sam', 'Soap', 'PA', Decimal('2825.75'), Decimal('1844.57'), Decimal('2361.86')),
 ('Sam', 'Yogurt', 'CT', Decimal('2545.50'), Decimal('2318.29'), Decimal('1957.39')),
 ('Sam', 'Yogurt', 'NJ', Decimal('1840.67'), Decimal('2632.83'), Decimal('2682.83')),
 ('Sam', 'Yogurt', 'NY', Decimal('1317.00'), Decimal('2500.25'), Decimal('2483.95')),
 ('Sam', 'Yogurt', 'PA', Decimal('3129.67'), Decimal('1988.33'), Decimal('2341.50'))]

<br>

2.For customer and product, show the average sales before and after each quarter (e.g., for Q2, show average sales of Q1 and Q3. For “before” Q1 and “after” Q4, display <NULL>. The “YEAR” attribute is not considered for this query – for example, both Q1 of 2007 and Q1 of 2008 are considered Q1 regardless of the year.

In [8]:
%%sql
with t_all_month as(
    select distinct s1.prod, s1.cust,
    case when s2.month in (1,2,3) then 1
         when s2.month in (4,5,6) then 2
         when s2.month in (7,8,9) then 3
         when s2.month in (10,11,12) then 4 
    end as q
    from sales s1, sales s2
    order by s1.prod,s1.cust
),
t1 as (
    select prod, cust, round(avg(quant)) as avq,
    case when month in (1,2,3) then 1
         when month in (4,5,6) then 2
         when month in (7,8,9) then 3
         when month in (10,11,12) then 4 
    end as q
    from sales
    group by prod, cust,q
),
t2 as(
    select t1.prod, t1.cust, bf.Q, bf.avq as bfq
    from t1
    left join t1 bf on t1.cust = bf.cust and t1.prod = bf.prod and t1.Q-1 = bf.q
),
t3 as(
    select t1.prod, t1.cust, af.Q, af.avq as afq
    from t1
    left join t1 af on t1.cust = af.cust and t1.prod = af.prod and t1.Q+1 = af.q
)
select ta.cust, ta.prod, ta.q,
bfq as before_avg, afq as after_avg
from t_all_month as ta
left join t1 on ta.prod = t1.prod and ta.cust = t1.cust and ta.q = t1.q  
left join t2 on t1.Q = t2.Q+1 AND t1.cust = t2.cust AND t1.prod = t2.prod 
left join t3 on t1.Q = t3.Q-1 AND t1.cust = t3.cust AND t1.prod = t3.prod
order by ta.cust, ta.prod, ta.q

 * postgresql://postgres:***@127.0.0.1/salesdb
200 rows affected.

[('Bloom', 'Bread', 1, None, Decimal('539')),
 ('Bloom', 'Bread', 2, Decimal('3267'), Decimal('2388')),
 ('Bloom', 'Bread', 3, Decimal('539'), Decimal('1106')),
 ('Bloom', 'Bread', 4, Decimal('2388'), None),
 ('Bloom', 'Butter', 1, None, None),
 ('Bloom', 'Butter', 2, None, None),
 ('Bloom', 'Butter', 3, None, Decimal('4279')),
 ('Bloom', 'Butter', 4, Decimal('2386'), None),
 ('Bloom', 'Coke', 1, None, Decimal('2681')),
 ('Bloom', 'Coke', 2, Decimal('1079'), Decimal('2669')),
 ('Bloom', 'Coke', 3, Decimal('2681'), Decimal('2867')),
 ('Bloom', 'Coke', 4, Decimal('2669'), None),
 ('Bloom', 'Cookies', 1, None, None),
 ('Bloom', 'Cookies', 2, None, Decimal('3287')),
 ('Bloom', 'Cookies', 3, Decimal('2782'), Decimal('2970')),
 ('Bloom', 'Cookies', 4, Decimal('3287'), None),
 ('Bloom', 'Eggs', 1, None, Decimal('3597')),
 ('Bloom', 'Eggs', 2, Decimal('2819'), Decimal('2185')),
 ('Bloom', 'Eggs', 3, Decimal('3597'), Decimal('1053')),
 ('Bloom', 'Eggs', 4, Decimal('2185'), None),
 ('Bloom', 'Fruits', 1, None, Decimal('1933')),
 ('Bloom', 'Fruits', 2, Decimal('2243'), Decimal('2994')),
 ('Bloom', 'Fruits', 3, Decimal('1933'), Decimal('2926')),
 ('Bloom', 'Fruits', 4, Decimal('2994'), None),
 ('Bloom', 'Milk', 1, None, Decimal('2377')),
 ('Bloom', 'Milk', 2, Decimal('3215'), Decimal('1106')),
 ('Bloom', 'Milk', 3, Decimal('2377'), Decimal('3010')),
 ('Bloom', 'Milk', 4, Decimal('1106'), None),
 ('Bloom', 'Pepsi', 1, None, Decimal('1868')),
 ('Bloom', 'Pepsi', 2, Decimal('526'), Decimal('794')),
 ('Bloom', 'Pepsi', 3, Decimal('1868'), Decimal('4374')),
 ('Bloom', 'Pepsi', 4, Decimal('794'), None),
 ('Bloom', 'Soap', 1, None, Decimal('2310')),
 ('Bloom', 'Soap', 2, Decimal('4623'), Decimal('329')),
 ('Bloom', 'Soap', 3, Decimal('2310'), Decimal('4364')),
 ('Bloom', 'Soap', 4, Decimal('329'), None),
 ('Bloom', 'Yogurt', 1, None, Decimal('2623')),
 ('Bloom', 'Yogurt', 2, Decimal('1660'), Decimal('2398')),
 ('Bloom', 'Yogurt', 3, Decimal('2623'), Decimal('1786')),
 ('Bloom', 'Yogurt', 4, Decimal('2398'), None),
 ('Emily', 'Bread', 1, None, Decimal('1720')),
 ('Emily', 'Bread', 2, Decimal('492'), Decimal('807')),
 ('Emily', 'Bread', 3, Decimal('1720'), Decimal('2318')),
 ('Emily', 'Bread', 4, Decimal('807'), None),
 ('Emily', 'Butter', 1, None, Decimal('2869')),
 ('Emily', 'Butter', 2, Decimal('1490'), Decimal('3053')),
 ('Emily', 'Butter', 3, Decimal('2869'), Decimal('2862')),
 ('Emily', 'Butter', 4, Decimal('3053'), None),
 ('Emily', 'Coke', 1, None, Decimal('3314')),
 ('Emily', 'Coke', 2, Decimal('2398'), Decimal('4379')),
 ('Emily', 'Coke', 3, Decimal('3314'), Decimal('999')),
 ('Emily', 'Coke', 4, Decimal('4379'), None),
 ('Emily', 'Cookies', 1, None, Decimal('3760')),
 ('Emily', 'Cookies', 2, Decimal('3131'), Decimal('1716')),
 ('Emily', 'Cookies', 3, Decimal('3760'), Decimal('2421')),
 ('Emily', 'Cookies', 4, Decimal('1716'), None),
 ('Emily', 'Eggs', 1, None, Decimal('2715')),
 ('Emily', 'Eggs', 2, Decimal('4535'), Decimal('3231')),
 ('Emily', 'Eggs', 3, Decimal('2715'), Decimal('2039')),
 ('Emily', 'Eggs', 4, Decimal('3231'), None),
 ('Emily', 'Fruits', 1, None, Decimal('2243')),
 ('Emily', 'Fruits', 2, Decimal('2919'), Decimal('2750')),
 ('Emily', 'Fruits', 3, Decimal('2243'), Decimal('2873')),
 ('Emily', 'Fruits', 4, Decimal('2750'), None),
 ('Emily', 'Milk', 1, None, Decimal('2581')),
 ('Emily', 'Milk', 2, Decimal('2589'), Decimal('1997')),
 ('Emily', 'Milk', 3, Decimal('2581'), Decimal('4986')),
 ('Emily', 'Milk', 4, Decimal('1997'), None),
 ('Emily', 'Pepsi', 1, None, Decimal('2374')),
 ('Emily', 'Pepsi', 2, Decimal('3842'), None),
 ('Emily', 'Pepsi', 3, None, None),
 ('Emily', 'Pepsi', 4, None, None),
 ('Emily', 'Soap', 1, None, Decimal('2549')),
 ('Emily', 'Soap', 2, Decimal('3218'), Decimal('1531')),
 ('Emily', 'Soap', 3, Decimal('2549'), Decimal('2976')),
 ('Emily', 'Soap', 4, Decimal('1531'), None),
 ('Emily', 'Yogurt', 1, None, Decimal('2650')),
 ('Emily', 'Yogurt', 2, Decimal('3079'), Decimal('2161')),
 ('Emily', 'Yogurt', 3, Decimal('2650'), Decimal('730')),
 ('Emily', 'Yogurt', 4, Decimal('2161'), None),
 ('Helen', 'Bread', 1, None, Decimal('2648')),
 ('Helen', 'Bread', 2, Decimal('3530'), None),
 ('Helen', 'Bread', 3, None, None),
 ('Helen', 'Bread', 4, None, None),
 ('Helen', 'Butter', 1, None, Decimal('2886')),
 ('Helen', 'Butter', 2, Decimal('2040'), Decimal('1913')),
 ('Helen', 'Butter', 3, Decimal('2886'), Decimal('907')),
 ('Helen', 'Butter', 4, Decimal('1913'), None),
 ('Helen', 'Coke', 1, None, Decimal('1999')),
 ('Helen', 'Coke', 2, Decimal('2708'), Decimal('2800')),
 ('Helen', 'Coke', 3, Decimal('1999'), Decimal('3109')),
 ('Helen', 'Coke', 4, Decimal('2800'), None),
 ('Helen', 'Cookies', 1, None, None),
 ('Helen', 'Cookies', 2, None, None),
 ('Helen', 'Cookies', 3, None, Decimal('1179')),
 ('Helen', 'Cookies', 4, Decimal('2180'), None),
 ('Helen', 'Eggs', 1, None, Decimal('2327')),
 ('Helen', 'Eggs', 2, Decimal('813'), None),
 ('Helen', 'Eggs', 3, None, None),
 ('Helen', 'Eggs', 4, None, None),
 ('Helen', 'Fruits', 1, None, Decimal('2000')),
 ('Helen', 'Fruits', 2, Decimal('1570'), None),
 ('Helen', 'Fruits', 3, None, None),
 ('Helen', 'Fruits', 4, None, None),
 ('Helen', 'Milk', 1, None, Decimal('807')),
 ('Helen', 'Milk', 2, Decimal('3312'), Decimal('3314')),
 ('Helen', 'Milk', 3, Decimal('807'), Decimal('981')),
 ('Helen', 'Milk', 4, Decimal('3314'), None),
 ('Helen', 'Pepsi', 1, None, Decimal('2397')),
 ('Helen', 'Pepsi', 2, Decimal('3130'), Decimal('2768')),
 ('Helen', 'Pepsi', 3, Decimal('2397'), Decimal('2435')),
 ('Helen', 'Pepsi', 4, Decimal('2768'), None),
 ('Helen', 'Soap', 1, None, None),
 ('Helen', 'Soap', 2, None, None),
 ('Helen', 'Soap', 3, None, Decimal('1209')),
 ('Helen', 'Soap', 4, Decimal('2990'), None),
 ('Helen', 'Yogurt', 1, None, Decimal('3174')),
 ('Helen', 'Yogurt', 2, Decimal('2332'), Decimal('2904')),
 ('Helen', 'Yogurt', 3, Decimal('3174'), Decimal('2247')),
 ('Helen', 'Yogurt', 4, Decimal('2904'), None),
 ('Knuth', 'Bread', 1, None, Decimal('3283')),
 ('Knuth', 'Bread', 2, Decimal('3366'), Decimal('1579')),
 ('Knuth', 'Bread', 3, Decimal('3283'), Decimal('1405')),
 ('Knuth', 'Bread', 4, Decimal('1579'), None),
 ('Knuth', 'Butter', 1, None, Decimal('895')),
 ('Knuth', 'Butter', 2, Decimal('1374'), None),
 ('Knuth', 'Butter', 3, None, None),
 ('Knuth', 'Butter', 4, None, None),
 ('Knuth', 'Coke', 1, None, Decimal('2676')),
 ('Knuth', 'Coke', 2, Decimal('3559'), Decimal('1512')),
 ('Knuth', 'Coke', 3, Decimal('2676'), Decimal('2789')),
 ('Knuth', 'Coke', 4, Decimal('1512'), None),
 ('Knuth', 'Cookies', 1, None, Decimal('2978')),
 ('Knuth', 'Cookies', 2, Decimal('2363'), Decimal('3709')),
 ('Knuth', 'Cookies', 3, Decimal('2978'), Decimal('1669')),
 ('Knuth', 'Cookies', 4, Decimal('3709'), None),
 ('Knuth', 'Eggs', 1, None, Decimal('1239')),
 ('Knuth', 'Eggs', 2, Decimal('4051'), Decimal('3532')),
 ('Knuth', 'Eggs', 3, Decimal('1239'), Decimal('2254')),
 ('Knuth', 'Eggs', 4, Decimal('3532'), None),
 ('Knuth', 'Fruits', 1, None, Decimal('1857')),
 ('Knuth', 'Fruits', 2, Decimal('2758'), Decimal('1175')),
 ('Knuth', 'Fruits', 3, Decimal('1857'), Decimal('2279')),
 ('Knuth', 'Fruits', 4, Decimal('1175'), None),
 ('Knuth', 'Milk', 1, None, Decimal('2424')),
 ('Knuth', 'Milk', 2, Decimal('92'), None),
 ('Knuth', 'Milk', 3, None, None),
 ('Knuth', 'Milk', 4, None, None),
 ('Knuth', 'Pepsi', 1, None, Decimal('2468')),
 ('Knuth', 'Pepsi', 2, Decimal('3214'), Decimal('2982')),
 ('Knuth', 'Pepsi', 3, Decimal('2468'), Decimal('1596')),
 ('Knuth', 'Pepsi', 4, Decimal('2982'), None),
 ('Knuth', 'Soap', 1, None, Decimal('1519')),
 ('Knuth', 'Soap', 2, Decimal('878'), Decimal('1002')),
 ('Knuth', 'Soap', 3, Decimal('1519'), Decimal('2620')),
 ('Knuth', 'Soap', 4, Decimal('1002'), None),
 ('Knuth', 'Yogurt', 1, None, Decimal('1787')),
 ('Knuth', 'Yogurt', 2, Decimal('3903'), Decimal('3705')),
 ('Knuth', 'Yogurt', 3, Decimal('1787'), Decimal('2497')),
 ('Knuth', 'Yogurt', 4, Decimal('3705'), None),
 ('Sam', 'Bread', 1, None, Decimal('2735')),
 ('Sam', 'Bread', 2, Decimal('1378'), Decimal('1622')),
 ('Sam', 'Bread', 3, Decimal('2735'), Decimal('93')),
 ('Sam', 'Bread', 4, Decimal('1622'), None),
 ('Sam', 'Butter', 1, None, Decimal('4056')),
 ('Sam', 'Butter', 2, Decimal('673'), Decimal('4893')),
 ('Sam', 'Butter', 3, Decimal('4056'), Decimal('1984')),
 ('Sam', 'Butter', 4, Decimal('4893'), None),
 ('Sam', 'Coke', 1, None, Decimal('1481')),
 ('Sam', 'Coke', 2, Decimal('2670'), Decimal('3053')),
 ('Sam', 'Coke', 3, Decimal('1481'), None),
 ('Sam', 'Coke', 4, None, None),
 ('Sam', 'Cookies', 1, None, Decimal('408')),
 ('Sam', 'Cookies', 2, Decimal('2523'), None),
 ('Sam', 'Cookies', 3, None, None),
 ('Sam', 'Cookies', 4, None, None),
 ('Sam', 'Eggs', 1, None, Decimal('2239')),
 ('Sam', 'Eggs', 2, Decimal('2482'), Decimal('1191')),
 ('Sam', 'Eggs', 3, Decimal('2239'), Decimal('4674')),
 ('Sam', 'Eggs', 4, Decimal('1191'), None),
 ('Sam', 'Fruits', 1, None, None),
 ('Sam', 'Fruits', 2, None, Decimal('3611')),
 ('Sam', 'Fruits', 3, Decimal('3743'), Decimal('3217')),
 ('Sam', 'Fruits', 4, Decimal('3611'), None),
 ('Sam', 'Milk', 1, None, Decimal('598')),
 ('Sam', 'Milk', 2, Decimal('1745'), Decimal('2125')),
 ('Sam', 'Milk', 3, Decimal('598'), Decimal('2431')),
 ('Sam', 'Milk', 4, Decimal('2125'), None),
 ('Sam', 'Pepsi', 1, None, Decimal('2332')),
 ('Sam', 'Pepsi', 2, Decimal('2442'), Decimal('3954')),
 ('Sam', 'Pepsi', 3, Decimal('2332'), Decimal('3166')),
 ('Sam', 'Pepsi', 4, Decimal('3954'), None),
 ('Sam', 'Soap', 1, None, Decimal('2878')),
 ('Sam', 'Soap', 2, Decimal('1994'), Decimal('3108')),
 ('Sam', 'Soap', 3, Decimal('2878'), Decimal('694')),
 ('Sam', 'Soap', 4, Decimal('3108'), None),
 ('Sam', 'Yogurt', 1, None, Decimal('2735')),
 ('Sam', 'Yogurt', 2, Decimal('2126'), Decimal('2000')),
 ('Sam', 'Yogurt', 3, Decimal('2735'), None),
 ('Sam', 'Yogurt', 4, None, None)]

In [20]:
%%sql
with t_all_month as(
    select distinct s1.prod, s1.cust,
    case when s2.month in (1,2,3) then 1
         when s2.month in (4,5,6) then 2
         when s2.month in (7,8,9) then 3
         when s2.month in (10,11,12) then 4 
    end as q
    from sales s1, sales s2
    order by s1.prod,s1.cust
),
t1 as (
    select prod, cust, round(avg(quant)) as avq,
    case when month in (1,2,3) then 1
         when month in (4,5,6) then 2
         when month in (7,8,9) then 3
         when month in (10,11,12) then 4 
    end as q
    from sales
    group by prod, cust,q
),
t2 as(
    select a.cust, a.prod, bf.q, bf.avq as before_avg
    from t1 as a
    join t1 as bf
    on a.cust=bf.cust
    and a.prod=bf.prod
    and a.q-1=bf.q
),
t3 as (
    select a.cust, a.prod, af.q, af.avq as after_avg
    from t1 as a
    join t1 as af
    on a.cust=af.cust
    and a.prod=af.prod
    and a.q+1=af.q
)
select ta.cust,ta.prod,ta.q as "Quarter",t2.before_avg
from t_all_month as ta
left join t1 on ta.cust = t1.cust and ta.prod = t1.prod and ta.q=t1.q 
left join t2 on ta.cust=t2.cust and ta.prod=t2.prod and t1.q=t2.q+1
order by cust,prod

 * postgresql://postgres:***@127.0.0.1/salesdb
200 rows affected.

[('Bloom', 'Bread', 1, None),
 ('Bloom', 'Bread', 2, Decimal('3267')),
 ('Bloom', 'Bread', 3, Decimal('539')),
 ('Bloom', 'Bread', 4, Decimal('2388')),
 ('Bloom', 'Butter', 1, None),
 ('Bloom', 'Butter', 2, None),
 ('Bloom', 'Butter', 3, None),
 ('Bloom', 'Butter', 4, Decimal('2386')),
 ('Bloom', 'Coke', 1, None),
 ('Bloom', 'Coke', 2, Decimal('1079')),
 ('Bloom', 'Coke', 3, Decimal('2681')),
 ('Bloom', 'Coke', 4, Decimal('2669')),
 ('Bloom', 'Cookies', 1, None),
 ('Bloom', 'Cookies', 2, None),
 ('Bloom', 'Cookies', 3, Decimal('2782')),
 ('Bloom', 'Cookies', 4, Decimal('3287')),
 ('Bloom', 'Eggs', 1, None),
 ('Bloom', 'Eggs', 2, Decimal('2819')),
 ('Bloom', 'Eggs', 3, Decimal('3597')),
 ('Bloom', 'Eggs', 4, Decimal('2185')),
 ('Bloom', 'Fruits', 1, None),
 ('Bloom', 'Fruits', 2, Decimal('2243')),
 ('Bloom', 'Fruits', 3, Decimal('1933')),
 ('Bloom', 'Fruits', 4, Decimal('2994')),
 ('Bloom', 'Milk', 1, None),
 ('Bloom', 'Milk', 2, Decimal('3215')),
 ('Bloom', 'Milk', 3, Decimal('2377')),
 ('Bloom', 'Milk', 4, Decimal('1106')),
 ('Bloom', 'Pepsi', 1, None),
 ('Bloom', 'Pepsi', 2, Decimal('526')),
 ('Bloom', 'Pepsi', 3, Decimal('1868')),
 ('Bloom', 'Pepsi', 4, Decimal('794')),
 ('Bloom', 'Soap', 1, None),
 ('Bloom', 'Soap', 2, Decimal('4623')),
 ('Bloom', 'Soap', 3, Decimal('2310')),
 ('Bloom', 'Soap', 4, Decimal('329')),
 ('Bloom', 'Yogurt', 1, None),
 ('Bloom', 'Yogurt', 2, Decimal('1660')),
 ('Bloom', 'Yogurt', 3, Decimal('2623')),
 ('Bloom', 'Yogurt', 4, Decimal('2398')),
 ('Emily', 'Bread', 1, None),
 ('Emily', 'Bread', 2, Decimal('492')),
 ('Emily', 'Bread', 3, Decimal('1720')),
 ('Emily', 'Bread', 4, Decimal('807')),
 ('Emily', 'Butter', 1, None),
 ('Emily', 'Butter', 2, Decimal('1490')),
 ('Emily', 'Butter', 3, Decimal('2869')),
 ('Emily', 'Butter', 4, Decimal('3053')),
 ('Emily', 'Coke', 1, None),
 ('Emily', 'Coke', 2, Decimal('2398')),
 ('Emily', 'Coke', 3, Decimal('3314')),
 ('Emily', 'Coke', 4, Decimal('4379')),
 ('Emily', 'Cookies', 1, None),
 ('Emily', 'Cookies', 2, Decimal('3131')),
 ('Emily', 'Cookies', 3, Decimal('3760')),
 ('Emily', 'Cookies', 4, Decimal('1716')),
 ('Emily', 'Eggs', 1, None),
 ('Emily', 'Eggs', 2, Decimal('4535')),
 ('Emily', 'Eggs', 3, Decimal('2715')),
 ('Emily', 'Eggs', 4, Decimal('3231')),
 ('Emily', 'Fruits', 1, None),
 ('Emily', 'Fruits', 2, Decimal('2919')),
 ('Emily', 'Fruits', 3, Decimal('2243')),
 ('Emily', 'Fruits', 4, Decimal('2750')),
 ('Emily', 'Milk', 1, None),
 ('Emily', 'Milk', 2, Decimal('2589')),
 ('Emily', 'Milk', 3, Decimal('2581')),
 ('Emily', 'Milk', 4, Decimal('1997')),
 ('Emily', 'Pepsi', 1, None),
 ('Emily', 'Pepsi', 2, Decimal('3842')),
 ('Emily', 'Pepsi', 3, None),
 ('Emily', 'Pepsi', 4, None),
 ('Emily', 'Soap', 1, None),
 ('Emily', 'Soap', 2, Decimal('3218')),
 ('Emily', 'Soap', 3, Decimal('2549')),
 ('Emily', 'Soap', 4, Decimal('1531')),
 ('Emily', 'Yogurt', 1, None),
 ('Emily', 'Yogurt', 2, Decimal('3079')),
 ('Emily', 'Yogurt', 3, Decimal('2650')),
 ('Emily', 'Yogurt', 4, Decimal('2161')),
 ('Helen', 'Bread', 1, None),
 ('Helen', 'Bread', 2, Decimal('3530')),
 ('Helen', 'Bread', 3, None),
 ('Helen', 'Bread', 4, None),
 ('Helen', 'Butter', 1, None),
 ('Helen', 'Butter', 2, Decimal('2040')),
 ('Helen', 'Butter', 3, Decimal('2886')),
 ('Helen', 'Butter', 4, Decimal('1913')),
 ('Helen', 'Coke', 1, None),
 ('Helen', 'Coke', 2, Decimal('2708')),
 ('Helen', 'Coke', 3, Decimal('1999')),
 ('Helen', 'Coke', 4, Decimal('2800')),
 ('Helen', 'Cookies', 1, None),
 ('Helen', 'Cookies', 2, None),
 ('Helen', 'Cookies', 3, None),
 ('Helen', 'Cookies', 4, Decimal('2180')),
 ('Helen', 'Eggs', 1, None),
 ('Helen', 'Eggs', 2, Decimal('813')),
 ('Helen', 'Eggs', 3, None),
 ('Helen', 'Eggs', 4, None),
 ('Helen', 'Fruits', 1, None),
 ('Helen', 'Fruits', 2, Decimal('1570')),
 ('Helen', 'Fruits', 3, None),
 ('Helen', 'Fruits', 4, None),
 ('Helen', 'Milk', 1, None),
 ('Helen', 'Milk', 2, Decimal('3312')),
 ('Helen', 'Milk', 3, Decimal('807')),
 ('Helen', 'Milk', 4, Decimal('3314')),
 ('Helen', 'Pepsi', 1, None),
 ('Helen', 'Pepsi', 2, Decimal('3130')),
 ('Helen', 'Pepsi', 3, Decimal('2397')),
 ('Helen', 'Pepsi', 4, Decimal('2768')),
 ('Helen', 'Soap', 1, None),
 ('Helen', 'Soap', 2, None),
 ('Helen', 'Soap', 3, None),
 ('Helen', 'Soap', 4, Decimal('2990')),
 ('Helen', 'Yogurt', 1, None),
 ('Helen', 'Yogurt', 2, Decimal('2332')),
 ('Helen', 'Yogurt', 3, Decimal('3174')),
 ('Helen', 'Yogurt', 4, Decimal('2904')),
 ('Knuth', 'Bread', 1, None),
 ('Knuth', 'Bread', 2, Decimal('3366')),
 ('Knuth', 'Bread', 3, Decimal('3283')),
 ('Knuth', 'Bread', 4, Decimal('1579')),
 ('Knuth', 'Butter', 1, None),
 ('Knuth', 'Butter', 2, Decimal('1374')),
 ('Knuth', 'Butter', 3, None),
 ('Knuth', 'Butter', 4, None),
 ('Knuth', 'Coke', 1, None),
 ('Knuth', 'Coke', 2, Decimal('3559')),
 ('Knuth', 'Coke', 3, Decimal('2676')),
 ('Knuth', 'Coke', 4, Decimal('1512')),
 ('Knuth', 'Cookies', 1, None),
 ('Knuth', 'Cookies', 2, Decimal('2363')),
 ('Knuth', 'Cookies', 3, Decimal('2978')),
 ('Knuth', 'Cookies', 4, Decimal('3709')),
 ('Knuth', 'Eggs', 1, None),
 ('Knuth', 'Eggs', 2, Decimal('4051')),
 ('Knuth', 'Eggs', 3, Decimal('1239')),
 ('Knuth', 'Eggs', 4, Decimal('3532')),
 ('Knuth', 'Fruits', 1, None),
 ('Knuth', 'Fruits', 2, Decimal('2758')),
 ('Knuth', 'Fruits', 3, Decimal('1857')),
 ('Knuth', 'Fruits', 4, Decimal('1175')),
 ('Knuth', 'Milk', 1, None),
 ('Knuth', 'Milk', 2, Decimal('92')),
 ('Knuth', 'Milk', 3, None),
 ('Knuth', 'Milk', 4, None),
 ('Knuth', 'Pepsi', 1, None),
 ('Knuth', 'Pepsi', 2, Decimal('3214')),
 ('Knuth', 'Pepsi', 3, Decimal('2468')),
 ('Knuth', 'Pepsi', 4, Decimal('2982')),
 ('Knuth', 'Soap', 1, None),
 ('Knuth', 'Soap', 2, Decimal('878')),
 ('Knuth', 'Soap', 3, Decimal('1519')),
 ('Knuth', 'Soap', 4, Decimal('1002')),
 ('Knuth', 'Yogurt', 1, None),
 ('Knuth', 'Yogurt', 2, Decimal('3903')),
 ('Knuth', 'Yogurt', 3, Decimal('1787')),
 ('Knuth', 'Yogurt', 4, Decimal('3705')),
 ('Sam', 'Bread', 1, None),
 ('Sam', 'Bread', 2, Decimal('1378')),
 ('Sam', 'Bread', 3, Decimal('2735')),
 ('Sam', 'Bread', 4, Decimal('1622')),
 ('Sam', 'Butter', 1, None),
 ('Sam', 'Butter', 2, Decimal('673')),
 ('Sam', 'Butter', 3, Decimal('4056')),
 ('Sam', 'Butter', 4, Decimal('4893')),
 ('Sam', 'Coke', 1, None),
 ('Sam', 'Coke', 2, Decimal('2670')),
 ('Sam', 'Coke', 3, Decimal('1481')),
 ('Sam', 'Coke', 4, None),
 ('Sam', 'Cookies', 1, None),
 ('Sam', 'Cookies', 2, Decimal('2523')),
 ('Sam', 'Cookies', 3, None),
 ('Sam', 'Cookies', 4, None),
 ('Sam', 'Eggs', 1, None),
 ('Sam', 'Eggs', 2, Decimal('2482')),
 ('Sam', 'Eggs', 3, Decimal('2239')),
 ('Sam', 'Eggs', 4, Decimal('1191')),
 ('Sam', 'Fruits', 1, None),
 ('Sam', 'Fruits', 2, None),
 ('Sam', 'Fruits', 3, Decimal('3743')),
 ('Sam', 'Fruits', 4, Decimal('3611')),
 ('Sam', 'Milk', 1, None),
 ('Sam', 'Milk', 2, Decimal('1745')),
 ('Sam', 'Milk', 3, Decimal('598')),
 ('Sam', 'Milk', 4, Decimal('2125')),
 ('Sam', 'Pepsi', 1, None),
 ('Sam', 'Pepsi', 2, Decimal('2442')),
 ('Sam', 'Pepsi', 3, Decimal('2332')),
 ('Sam', 'Pepsi', 4, Decimal('3954')),
 ('Sam', 'Soap', 1, None),
 ('Sam', 'Soap', 2, Decimal('1994')),
 ('Sam', 'Soap', 3, Decimal('2878')),
 ('Sam', 'Soap', 4, Decimal('3108')),
 ('Sam', 'Yogurt', 1, None),
 ('Sam', 'Yogurt', 2, Decimal('2126')),
 ('Sam', 'Yogurt', 3, Decimal('2735')),
 ('Sam', 'Yogurt', 4, None)]

<br>

<br>

3.For each product, find the median sales quantity (assume an odd number of sales for simplicity of presentation). (NOTE – “median” is defined as “denoting or relating to a value or quantity lying at the midpoint of a frequency distribution of observed values or quantities, such that there is an equal probability of falling above or below it.” E.g., Median value of the list {13, 23, 12, 16, 15, 9, 29} is 15.

In [39]:
%%sql
SELECT
    prod,
    percentile_disc(0.5) WITHIN GROUP (ORDER BY quant) AS median_quant
FROM sales
GROUP BY prod
ORDER BY prod

 * postgresql://postgres:***@127.0.0.1/salesdb
10 rows affected.

[('Bread', 1932),
 ('Butter', 1715),
 ('Coke', 2681),
 ('Cookies', 2500),
 ('Eggs', 2151),
 ('Fruits', 2525),
 ('Milk', 1839),
 ('Pepsi', 2591),
 ('Soap', 2231),
 ('Yogurt', 2336)]

In [22]:
%%sql
WITH t1 AS(
SELECT t1.prod, t1.quant,
sum(case when t2.quant>= t1.quant then 1 else 0 end ) AS big,
sum(case when t2.quant<= t1.quant then 1 else 0 end ) AS sml,
-- count(t2.prod) as CNT,
ABS( sum(case when t2.quant>= t1.quant then 1 else 0 end ) -  sum(case when t2.quant<= t1.quant then 1 else 0 end ) ) as DIF

FROM sales t1, sales t2
WHERE t1.prod = t2.prod
GROUP BY 1,2
ORDER BY 1,2
),

t2 AS(
SELECT prod, min(DIF) as MIN_DIF, count(*)/2+1 as cnt
FROM t1
GROUP BY 1
)

SELECT t1.prod, t1.quant
FROM t1
INNER JOIN t2 ON t1.prod = t2.prod AND t1.big = t2.cnt  -- median number
ORDER BY 1

 * postgresql://postgres:***@127.0.0.1/salesdb
10 rows affected.

[('Bread', 1932),
 ('Butter', 1715),
 ('Coke', 2681),
 ('Cookies', 2500),
 ('Eggs', 2151),
 ('Fruits', 2525),
 ('Milk', 1839),
 ('Pepsi', 2591),
 ('Soap', 2231),
 ('Yogurt', 2336)]

<br>

<br>

4.For customer and product, find the month by which time, 2/3 of the sales quantities have been purchased. Again, for this query, the “YEAR” attribute is not considered. Another way to view this query is to pretend all 500 rows of sales data are from the same year.

In [25]:
%%sql
with t1 as (
    select cust,prod,month,sum(quant)
    from sales
    group by cust, prod,month 
    order by cust, prod,month asc
),
--先找出所有月份的groupby之后的总和，用以计算2/3这个数值,
--t2表的目的是计算累加，上一个月和下一个在本分类集下的逐月累加结果
t2 as (
    select b.cust, b.prod, b.month, sum(a.sum) as add_quant
    from t1 as a, t1 as b
    where a.cust=b.cust
    and a.prod=b.prod
    and a.month<=b.month   
    --此处把a表中数值较小的月份行提取出来，然后在上面和
    group by b.cust, b.prod, b.month
    order by b.cust, b.prod, b.month
),
t3 as (
    select cust, prod, max(add_quant)*2/3 as the_two_third_amount
    from t2 
    group by cust, prod
    order by cust, prod
)
select *
from t3
"""
select a.cust, a.prod,min(b.month) as two_third_purchased_by_month
from t2 as b,t3 as a
where a.cust=b.cust
and a.prod=b.prod
and add_quant>=the_two_third_amount
group by a.cust, a.prod
order by a.cust, a.prod
"""

 * postgresql://postgres:***@127.0.0.1/salesdb
50 rows affected.

[('Bloom', 'Bread', Decimal('16895.333333333333')),
 ('Bloom', 'Butter', Decimal('6034.0000000000000000')),
 ('Bloom', 'Coke', Decimal('14033.333333333333')),
 ('Bloom', 'Cookies', Decimal('18414.666666666667')),
 ('Bloom', 'Eggs', Decimal('18368.666666666667')),
 ('Bloom', 'Fruits', Decimal('28007.333333333333')),
 ('Bloom', 'Milk', Decimal('23960.666666666667')),
 ('Bloom', 'Pepsi', Decimal('10260.0000000000000000')),
 ('Bloom', 'Soap', Decimal('9509.3333333333333333')),
 ('Bloom', 'Yogurt', Decimal('11780.0000000000000000')),
 ('Emily', 'Bread', Decimal('10228.6666666666666667')),
 ('Emily', 'Butter', Decimal('13901.333333333333')),
 ('Emily', 'Coke', Decimal('14454.000000000000')),
 ('Emily', 'Cookies', Decimal('28510.000000000000')),
 ('Emily', 'Eggs', Decimal('22053.333333333333')),
 ('Emily', 'Fruits', Decimal('23372.666666666667')),
 ('Emily', 'Milk', Decimal('14204.666666666667')),
 ('Emily', 'Pepsi', Decimal('15188.000000000000')),
 ('Emily', 'Soap', Decimal('12860.0000000000000000')),
 ('Emily', 'Yogurt', Decimal('11006.6666666666666667')),
 ('Helen', 'Bread', Decimal('16688.000000000000')),
 ('Helen', 'Butter', Decimal('27995.333333333333')),
 ('Helen', 'Coke', Decimal('26175.333333333333')),
 ('Helen', 'Cookies', Decimal('5931.3333333333333333')),
 ('Helen', 'Eggs', Decimal('11387.3333333333333333')),
 ('Helen', 'Fruits', Decimal('11040.6666666666666667')),
 ('Helen', 'Milk', Decimal('16826.000000000000')),
 ('Helen', 'Pepsi', Decimal('23075.333333333333')),
 ('Helen', 'Soap', Decimal('14995.333333333333')),
 ('Helen', 'Yogurt', Decimal('17700.000000000000')),
 ('Knuth', 'Bread', Decimal('21708.000000000000')),
 ('Knuth', 'Butter', Decimal('5030.0000000000000000')),
 ('Knuth', 'Coke', Decimal('23632.666666666667')),
 ('Knuth', 'Cookies', Decimal('17387.333333333333')),
 ('Knuth', 'Eggs', Decimal('16920.666666666667')),
 ('Knuth', 'Fruits', Decimal('17247.333333333333')),
 ('Knuth', 'Milk', Decimal('2464.0000000000000000')),
 ('Knuth', 'Pepsi', Decimal('22934.000000000000')),
 ('Knuth', 'Soap', Decimal('13610.666666666667')),
 ('Knuth', 'Yogurt', Decimal('14104.666666666667')),
 ('Sam', 'Bread', Decimal('8951.3333333333333333')),
 ('Sam', 'Butter', Decimal('14408.000000000000')),
 ('Sam', 'Coke', Decimal('7569.3333333333333333')),
 ('Sam', 'Cookies', Decimal('8152.6666666666666667')),
 ('Sam', 'Eggs', Decimal('12651.3333333333333333')),
 ('Sam', 'Fruits', Decimal('22586.000000000000')),
 ('Sam', 'Milk', Decimal('15726.000000000000')),
 ('Sam', 'Pepsi', Decimal('25898.666666666667')),
 ('Sam', 'Soap', Decimal('16143.333333333333')),
 ('Sam', 'Yogurt', Decimal('14212.666666666667'))]