In [2]:
%load_ext sql
%sql postgresql://postgres:00wasabi00@127.0.0.1/salesdb

'Connected: postgres@salesdb'

### 1.For each product compute the maximum and minimum sales quantites along with the corresponding customer (who purchased the product),dates(i.e., dates oth those maximum and minimum sales quantites) and the state in which the sale transcation took plance

In [3]:
%%sql
with max_min_Table as(
    select prod,max(quant) as max_quant,min(quant) as min_quant
    from sales
    group by prod
),
max_table as(
    select max_min_table.prod,quant,cust,
    concat(day,'/',month,'/',year) "max_date",state
    from max_min_table,sales
    where sales.quant=max_min_table.max_quant 
    and max_min_table.prod = sales.prod
),
min_table as(
    select max_min_table.prod,quant,cust,
    concat(day,'/',month,'/',year) "min_date",state
    from max_min_table,sales
    where sales.quant=max_min_table.min_quant 
    and max_min_table.prod = sales.prod
)

select max_table.prod as "PRODUCT",
max_table.quant as "MAX_Q",
max_table.cust as "MAX_CUST",
max_table.max_date as "MAX_DATE",
max_table.state as "MAX_ST",
min_table.quant as "MIN_Q",
min_table.cust as "MIN_CUST",
min_table.min_date as "MIN_DATE",
min_table.state as "MIN_ST",
round(avg(sales.quant),2) as "AVG_Q"
from max_table
full outer join min_table on max_table.prod=min_table.prod
full outer join sales on max_table.prod=sales.prod
group by max_table.prod,
max_table.quant,
max_table.cust,
max_table.max_date,
max_table.state,
min_table.quant,
min_table.cust, 
min_table.min_date, 
min_table.state

 * postgresql://postgres:***@127.0.0.1/salesdb
10 rows affected.

[('Coke', 4757, 'Knuth', '23/2/2003', 'PA', 81, 'Emily', '22/11/2003', 'CT', Decimal('2525.43')),
 ('Soap', 4954, 'Sam', '6/4/2003', 'PA', 70, 'Emily', '4/9/2003', 'CT', Decimal('2237.29')),
 ('Milk', 4986, 'Emily', '12/11/2002', 'NY', 26, 'Emily', '2/7/2008', 'CT', Decimal('2195.44')),
 ('Yogurt', 4909, 'Helen', '8/8/2007', 'NY', 17, 'Bloom', '25/7/2004', 'PA', Decimal('2457.29')),
 ('Eggs', 4972, 'Bloom', '3/1/2004', 'NJ', 128, 'Emily', '26/11/2002', 'PA', Decimal('2491.27')),
 ('Bread', 4901, 'Helen', '30/5/2008', 'NY', 42, 'Emily', '28/9/2005', 'PA', Decimal('2190.33')),
 ('Fruits', 4793, 'Sam', '15/9/2006', 'NJ', 24, 'Knuth', '26/8/2001', 'NY', Decimal('2434.62')),
 ('Cookies', 4994, 'Knuth', '17/7/2003', 'CT', 132, 'Sam', '9/10/2007', 'CT', Decimal('2502.00')),
 ('Butter', 4969, 'Helen', '4/6/2001', 'NY', 156, 'Knuth', '2/10/2007', 'NY', Decimal('2105.27')),
 ('Pepsi', 4942, 'Knuth', '11/9/2004', 'NY', 94, 'Bloom', '10/7/2000', 'CT', Decimal('2704.33'))]

### 2.For each combination of customer and product, output the maximum sales quantities for NY and minimum sales quantities for NJ and CT in 3 separate columns. Like the first report, display the corresponding dates (i.e., dates of those maximum and minimum sales quantities). Furthermore, for CT and NJ, include only the sales that occurred after 2000; for NY, include all sales.

In [3]:
%%sql
with ny_table as(
    select cust,prod,max(quant)
    from sales
    where sales.state='NY'
    group by cust,prod
),
nj_table as(
    select cust,prod,min(quant)
    from sales
    where sales.state='NJ'
    group by cust,prod
),
ct_table as(
    select cust,prod,min(quant)
    from sales
    where sales.state='CT'
    group by cust,prod
)
select ny_table.cust "CUSTOMER",ny_table.prod "PRODUCT",ny_table.max "NY_MAX",
concat(a.day,'/',a.month,'/',a.year) "NY_DATE",
nj_table.min "NJ_MIN",
concat(b.day,'/',b.month,'/',b.year) "NJ_DATE",
ct_table.min "CT_MIN",
concat(b.day,'/',b.month,'/',b.year) "CT_DATE"

from ny_table
full outer join nj_table on ny_table.cust=nj_table.cust and ny_table.prod=nj_table.prod
full outer join ct_table on ny_table.cust=ct_table.cust and ny_table.prod=ct_table.prod
inner join sales as a on ny_table.cust=a.cust and ny_table.prod=a.prod and ny_table.max=a.quant
inner join sales as b on ny_table.cust=b.cust and ny_table.prod=b.prod and ny_table.max=b.quant
inner join sales as c on ny_table.cust=c.cust and ny_table.prod=c.prod and ny_table.max=c.quant
order by "CUSTOMER","PRODUCT"

 * postgresql://postgres:***@127.0.0.1/salesdb
48 rows affected.

[('Bloom', 'Bread', 3792, '13/3/2006', 944, '13/3/2006', 256, '13/3/2006'),
 ('Bloom', 'Butter', 1054, '16/8/2003', 3718, '16/8/2003', 4279, '16/8/2003'),
 ('Bloom', 'Coke', 1229, '7/2/2000', 279, '7/2/2000', 928, '7/2/2000'),
 ('Bloom', 'Cookies', 4570, '8/10/2002', 3887, '8/10/2002', 796, '8/10/2002'),
 ('Bloom', 'Eggs', 3621, '13/4/2003', 559, '13/4/2003', 1028, '13/4/2003'),
 ('Bloom', 'Fruits', 3798, '14/8/2000', 776, '14/8/2000', 2813, '14/8/2000'),
 ('Bloom', 'Milk', 4583, '27/1/2007', 1106, '27/1/2007', 1639, '27/1/2007'),
 ('Bloom', 'Pepsi', 4232, '2/12/2001', 526, '2/12/2001', 94, '2/12/2001'),
 ('Bloom', 'Yogurt', 4043, '28/4/2005', 1203, '28/4/2005', 4004, '28/4/2005'),
 ('Emily', 'Bread', 2071, '23/12/2005', 141, '23/12/2005', 1626, '23/12/2005'),
 ('Emily', 'Butter', 2826, '13/2/2001', 1312, '13/2/2001', 212, '13/2/2001'),
 ('Emily', 'Coke', 4258, '29/2/2001', 1301, '29/2/2001', 81, '29/2/2001'),
 ('Emily', 'Cookies', 3669, '30/4/2005', 173, '30/4/2005', 3308, '30/4/2005'),
 ('Emily', 'Eggs', 4754, '18/8/2007', 3030, '18/8/2007', 2722, '18/8/2007'),
 ('Emily', 'Fruits', 3864, '14/12/2003', 3743, '14/12/2003', 3055, '14/12/2003'),
 ('Emily', 'Milk', 4986, '12/11/2002', 3839, '12/11/2002', 26, '12/11/2002'),
 ('Emily', 'Pepsi', 4901, '11/5/2005', 2591, '11/5/2005', 4135, '11/5/2005'),
 ('Emily', 'Soap', 3218, '27/1/2006', 623, '27/1/2006', 70, '27/1/2006'),
 ('Emily', 'Yogurt', 3822, '28/3/2005', 2336, '28/3/2005', 557, '28/3/2005'),
 ('Helen', 'Bread', 4901, '30/5/2008', 1687, '30/5/2008', 1406, '30/5/2008'),
 ('Helen', 'Butter', 4969, '4/6/2001', 728, '4/6/2001', 306, '4/6/2001'),
 ('Helen', 'Coke', 2401, '10/7/2000', 755, '10/7/2000', 1099, '10/7/2000'),
 ('Helen', 'Cookies', 3494, '28/8/2002', 1965, '28/8/2002', 1164, '28/8/2002'),
 ('Helen', 'Eggs', 3200, '21/6/2004', None, '21/6/2004', 1483, '21/6/2004'),
 ('Helen', 'Fruits', 2774, '3/5/2006', 415, '3/5/2006', 268, '3/5/2006'),
 ('Helen', 'Milk', 4249, '28/2/2006', 1839, '28/2/2006', 210, '28/2/2006'),
 ('Helen', 'Pepsi', 3002, '14/12/2005', 1983, '14/12/2005', 1515, '14/12/2005'),
 ('Helen', 'Yogurt', 4909, '8/8/2007', 2096, '8/8/2007', 3015, '8/8/2007'),
 ('Knuth', 'Bread', 3370, '14/4/2002', 1013, '14/4/2002', 1095, '14/4/2002'),
 ('Knuth', 'Butter', 950, '9/6/2004', None, '9/6/2004', 2232, '9/6/2004'),
 ('Knuth', 'Coke', 1946, '9/5/2005', 766, '9/5/2005', 211, '9/5/2005'),
 ('Knuth', 'Cookies', 1485, '23/12/2008', 2154, '23/12/2008', 2423, '23/12/2008'),
 ('Knuth', 'Eggs', 4313, '12/2/2007', 1339, '12/2/2007', 1312, '12/2/2007'),
 ('Knuth', 'Fruits', 2740, '19/4/2007', 733, '19/4/2007', 159, '19/4/2007'),
 ('Knuth', 'Milk', 2424, '13/4/2006', None, '13/4/2006', 58, '13/4/2006'),
 ('Knuth', 'Pepsi', 4942, '11/9/2004', 277, '11/9/2004', 653, '11/9/2004'),
 ('Knuth', 'Soap', 4307, '16/12/2001', 657, '16/12/2001', 436, '16/12/2001'),
 ('Knuth', 'Yogurt', 3705, '18/9/2001', 2167, '18/9/2001', 301, '18/9/2001'),
 ('Sam', 'Bread', 2282, '11/4/2006', 1378, '11/4/2006', 207, '11/4/2006'),
 ('Sam', 'Butter', 4893, '30/9/2006', 1715, '30/9/2006', None, '30/9/2006'),
 ('Sam', 'Coke', 2668, '14/1/2003', None, '14/1/2003', 2672, '14/1/2003'),
 ('Sam', 'Cookies', 3376, '20/11/2004', None, '20/11/2004', 132, '20/11/2004'),
 ('Sam', 'Eggs', 3363, '11/5/2007', 1091, '11/5/2007', None, '11/5/2007'),
 ('Sam', 'Fruits', 4738, '2/11/2004', 1311, '2/11/2004', 2802, '2/11/2004'),
 ('Sam', 'Milk', 3120, '6/7/2005', 4522, '6/7/2005', 385, '6/7/2005'),
 ('Sam', 'Pepsi', 4797, '28/9/2008', 1097, '28/9/2008', 160, '28/9/2008'),
 ('Sam', 'Soap', 3260, '29/9/2007', 165, '29/9/2007', 2461, '29/9/2007'),
 ('Sam', 'Yogurt', 1317, '2/9/2007', 1286, '2/9/2007', 363, '2/9/2007')]

### 3.For each of the 12 months (regardless of the year), find the most “popular” and least “popular” products (those products with most and least total sales quantities) and the corresponding total sales quantities (i.e., SUMs).

In [229]:
%%sql
with sum_table as(
    select month,prod,sum(quant)
    from sales
    group by month,prod
    order by month
),
max_table as(
    select month,max(sum)
    from sum_table
    group by month
),
min_table as(
    select month,min(sum)
    from sum_table
    group by month
),
mostpop_table as(
    select sum_table.month,sum_table.prod,sum_table.sum
    from sum_table
    inner join max_table on sum_table.sum=max_table.max
),
leastpop_table as(
    select sum_table.month,sum_table.prod,sum_table.sum
    from sum_table
    inner join min_table on sum_table.sum=min_table.min
)

select m.month "MONTH",
m.prod "MOST_POPULAR_PROD",
m.sum "MOST_POP_TOTAL_Q",
l.prod "LEASE_POPULAR_PROD",
l.sum "LEAST_POP_TOTAL_Q"
from mostpop_table as m
full outer join leastpop_table as l on m.month=l.month

 * postgresql://postgres:***@127.0.0.1/salesdb
12 rows affected.

[(1, 'Fruits', 18811, 'Butter', 5009),
 (2, 'Coke', 23908, 'Soap', 822),
 (3, 'Pepsi', 18295, 'Cookies', 488),
 (4, 'Eggs', 19922, 'Cookies', 3669),
 (5, 'Pepsi', 15008, 'Soap', 2961),
 (6, 'Cookies', 19783, 'Milk', 1274),
 (7, 'Butter', 20273, 'Bread', 2573),
 (8, 'Fruits', 16560, 'Pepsi', 1775),
 (9, 'Pepsi', 22178, 'Coke', 2714),
 (10, 'Coke', 17872, 'Bread', 4309),
 (11, 'Fruits', 20309, 'Coke', 1998),
 (12, 'Fruits', 18041, 'Yogurt', 1911)]

### 4.For each product, find the “most favorable” month (when most amount of the product was sold) and the “least favorable” month (when the least amount of the product was sold).

In [230]:
%%sql
with sum_table as(
    select month,prod,sum(quant)
    from sales
    group by month,prod
    order by month
),
max_table as(
    select prod,max(sum)
    from sum_table
    group by prod
),
min_table as(
    select prod,min(sum)
    from sum_table
    group by prod
),
mostpop_table as(
    select sum_table.prod,sum_table.month
    from sum_table
    inner join max_table on sum_table.sum=max_table.max
),
leastpop_table as(
    select sum_table.prod,sum_table.month
    from sum_table
    inner join min_table on sum_table.sum=min_table.min
)

select m.prod "PRODUCT",
m.month "MOST_FAV_MONTH",
l.month "LEAST_FAV_MONTH"
from mostpop_table as m
full outer join leastpop_table as l on m.prod=l.prod

 * postgresql://postgres:***@127.0.0.1/salesdb
10 rows affected.

[('Milk', 1, 6),
 ('Coke', 2, 11),
 ('Eggs', 4, 3),
 ('Bread', 5, 7),
 ('Yogurt', 6, 12),
 ('Butter', 7, 8),
 ('Cookies', 7, 3),
 ('Pepsi', 9, 8),
 ('Soap', 11, 2),
 ('Fruits', 11, 6)]

### 5.Show for each customer and product combination, the average sales quantities for 4 quarters, Q1, Q2, Q3 and Q4 (in four separate columns) – Q1 being the first 3 months of the year (Jan, Feb & Mar), Q2 the next 3 months (Apr, May & Jun), and so on – ignore the YEAR component of the dates (i.e., 3/11/2001 is considered the same date as 3/11/2002, etc.). Also compute the average for the “whole” year (again ignoring the YEAR component, meaning simply compute AVG) along with the total quantities (SUM) and the counts (COUNT).

In [233]:
%%sql
with q1 as(
    select cust,prod,round(avg(quant),2)
    from sales
    where sales.month in (1,2,3)
    group by cust,prod
),
q2 as(
    select cust,prod,round(avg(quant),2)
    from sales
    where sales.month in (4,5,6)
    group by cust,prod
),
q3 as(
    select cust,prod,round(avg(quant),2)
    from sales
    where sales.month in (7,8,9)
    group by cust,prod
),
q4 as(
    select cust,prod,round(avg(quant),2)
    from sales
    where sales.month in (10,11,12)
    group by cust,prod
),
q5 as(
    select cust,prod,round(avg(quant),2),sum(quant),count(quant)
    from sales
    group by cust,prod
)

select q5.cust "CUSTOMER",
q5.prod "PRODUCT",
q1.round "Q1_AVG",
q2.round "Q2_AVG",
q3.round "Q3_AVG",
q4.round "Q4_AVG",
q5.round "AVERAGE",
q5.sum "TOTLA",
q5.count "COUNT"
from q5
full outer join q1 on q1.cust=q5.cust and q1.prod=q5.prod
full outer join q2 on q2.cust=q5.cust and q2.prod=q5.prod
full outer join q3 on q3.cust=q5.cust and q3.prod=q5.prod
full outer join q4 on q4.cust=q5.cust and q4.prod=q5.prod

 * postgresql://postgres:***@127.0.0.1/salesdb
50 rows affected.

[('Helen', 'Bread', Decimal('3530.00'), Decimal('2647.60'), None, Decimal('2754.67'), Decimal('2781.33'), 25032, 9),
 ('Emily', 'Coke', Decimal('2398.00'), Decimal('3314.00'), Decimal('4379.00'), Decimal('999.00'), Decimal('2409.00'), 21681, 9),
 ('Bloom', 'Milk', Decimal('3215.33'), Decimal('2376.67'), Decimal('1106.00'), Decimal('3009.83'), Decimal('2764.69'), 35941, 13),
 ('Sam', 'Coke', Decimal('2670.00'), Decimal('1480.50'), Decimal('3053.00'), None, Decimal('2270.80'), 11354, 5),
 ('Helen', 'Cookies', None, None, Decimal('2179.67'), Decimal('1179.00'), Decimal('1779.40'), 8897, 5),
 ('Knuth', 'Cookies', Decimal('2362.50'), Decimal('2977.67'), Decimal('3708.50'), Decimal('1668.67'), Decimal('2608.10'), 26081, 10),
 ('Sam', 'Fruits', None, Decimal('3743.00'), Decimal('3611.00'), Decimal('3217.17'), Decimal('3387.90'), 33879, 10),
 ('Emily', 'Fruits', Decimal('2919.00'), Decimal('2243.33'), Decimal('2749.50'), Decimal('2873.25'), Decimal('2696.85'), 35059, 13),
 ('Helen', 'Butter', Decimal('2039.63'), Decimal('2886.33'), Decimal('1913.00'), Decimal('906.50'), Decimal('1908.77'), 41993, 22),
 ('Bloom', 'Eggs', Decimal('2819.00'), Decimal('3596.50'), Decimal('2184.50'), Decimal('1053.33'), Decimal('2504.82'), 27553, 11),
 ('Emily', 'Eggs', Decimal('4535.00'), Decimal('2714.50'), Decimal('3230.50'), Decimal('2038.80'), Decimal('2756.67'), 33080, 12),
 ('Sam', 'Eggs', Decimal('2481.67'), Decimal('2238.50'), Decimal('1190.50'), Decimal('4674.00'), Decimal('2372.13'), 18977, 8),
 ('Emily', 'Pepsi', Decimal('3842.00'), Decimal('2373.67'), None, Decimal('4135.00'), Decimal('3254.57'), 22782, 7),
 ('Sam', 'Milk', Decimal('1744.80'), Decimal('598.00'), Decimal('2125.33'), Decimal('2431.00'), Decimal('1814.54'), 23589, 13),
 ('Sam', 'Bread', Decimal('1378.00'), Decimal('2734.50'), Decimal('1621.75'), Decimal('93.00'), Decimal('1678.38'), 13427, 8),
 ('Knuth', 'Yogurt', Decimal('3903.00'), Decimal('1787.25'), Decimal('3705.00'), Decimal('2497.00'), Decimal('2644.63'), 21157, 8),
 ('Sam', 'Cookies', Decimal('2523.00'), Decimal('408.00'), None, Decimal('2222.50'), Decimal('1747.00'), 12229, 7),
 ('Helen', 'Pepsi', Decimal('3129.50'), Decimal('2396.50'), Decimal('2768.00'), Decimal('2435.25'), Decimal('2662.54'), 34613, 13),
 ('Helen', 'Milk', Decimal('3312.00'), Decimal('807.33'), Decimal('3314.00'), Decimal('981.00'), Decimal('2103.25'), 25239, 12),
 ('Bloom', 'Cookies', None, Decimal('2781.50'), Decimal('3287.00'), Decimal('2970.33'), Decimal('3069.11'), 27622, 9),
 ('Knuth', 'Fruits', Decimal('2757.67'), Decimal('1856.50'), Decimal('1174.50'), Decimal('2279.33'), Decimal('1847.93'), 25871, 14),
 ('Bloom', 'Butter', None, None, Decimal('2386.00'), Decimal('4279.00'), Decimal('3017.00'), 9051, 3),
 ('Knuth', 'Eggs', Decimal('4050.50'), Decimal('1238.50'), Decimal('3532.00'), Decimal('2254.20'), Decimal('2538.10'), 25381, 10),
 ('Helen', 'Yogurt', Decimal('2332.33'), Decimal('3174.00'), Decimal('2903.67'), Decimal('2247.00'), Decimal('2655.00'), 26550, 10),
 ('Knuth', 'Butter', Decimal('1374.00'), Decimal('894.50'), None, Decimal('1504.00'), Decimal('1257.50'), 7545, 6),
 ('Knuth', 'Soap', Decimal('877.50'), Decimal('1519.00'), Decimal('1002.00'), Decimal('2620.40'), Decimal('1856.00'), 20416, 11),
 ('Bloom', 'Coke', Decimal('1078.50'), Decimal('2681.00'), Decimal('2669.00'), Decimal('2867.00'), Decimal('2338.89'), 21050, 9),
 ('Helen', 'Fruits', Decimal('1569.50'), Decimal('2000.00'), None, Decimal('2141.50'), Decimal('1840.11'), 16561, 9),
 ('Bloom', 'Yogurt', Decimal('1660.00'), Decimal('2623.00'), Decimal('2397.67'), Decimal('1785.50'), Decimal('2208.75'), 17670, 8),
 ('Sam', 'Soap', Decimal('1994.00'), Decimal('2878.33'), Decimal('3108.00'), Decimal('694.00'), Decimal('2201.36'), 24215, 11),
 ('Helen', 'Eggs', Decimal('813.00'), Decimal('2326.75'), None, Decimal('2320.33'), Decimal('2135.13'), 17081, 8),
 ('Helen', 'Soap', Decimal('3452.50'), None, Decimal('2990.00'), Decimal('1209.33'), Decimal('2499.22'), 22493, 9),
 ('Emily', 'Soap', Decimal('3218.00'), Decimal('2549.00'), Decimal('1531.33'), Decimal('2976.33'), Decimal('2411.25'), 19290, 8),
 ('Emily', 'Milk', Decimal('2589.00'), Decimal('2580.67'), Decimal('1996.67'), Decimal('4986.00'), Decimal('2663.38'), 21307, 8),
 ('Bloom', 'Fruits', Decimal('2242.83'), Decimal('1933.00'), Decimal('2994.00'), Decimal('2926.00'), Decimal('2471.24'), 42011, 17),
 ('Knuth', 'Pepsi', Decimal('3213.50'), Decimal('2467.75'), Decimal('2982.40'), Decimal('1595.50'), Decimal('2646.23'), 34401, 13),
 ('Sam', 'Butter', Decimal('673.00'), Decimal('4056.00'), Decimal('4893.00'), Decimal('1983.50'), Decimal('2701.50'), 21612, 8),
 ('Emily', 'Butter', Decimal('1490.25'), Decimal('2869.00'), Decimal('3053.33'), Decimal('2862.00'), Decimal('2316.89'), 20852, 9),
 ('Knuth', 'Milk', Decimal('92.00'), Decimal('2424.00'), None, Decimal('1088.00'), Decimal('924.00'), 3696, 4),
 ('Bloom', 'Bread', Decimal('3266.75'), Decimal('539.00'), Decimal('2388.25'), Decimal('1106.00'), Decimal('2111.92'), 25343, 12),
 ('Sam', 'Pepsi', Decimal('2441.67'), Decimal('2332.00'), Decimal('3954.33'), Decimal('3166.00'), Decimal('2988.31'), 38848, 13),
 ('Bloom', 'Soap', Decimal('4623.00'), Decimal('2310.00'), Decimal('328.50'), Decimal('4364.00'), Decimal('2377.33'), 14264, 6),
 ('Knuth', 'Coke', Decimal('3559.33'), Decimal('2676.40'), Decimal('1511.50'), Decimal('2788.67'), Decimal('2726.85'), 35449, 13),
 ('Helen', 'Coke', Decimal('2708.00'), Decimal('1999.40'), Decimal('2799.50'), Decimal('3108.60'), Decimal('2617.53'), 39263, 15),
 ('Sam', 'Yogurt', Decimal('2126.00'), Decimal('2735.25'), Decimal('2000.00'), None, Decimal('2368.78'), 21319, 9),
 ('Knuth', 'Bread', Decimal('3365.50'), Decimal('3283.25'), Decimal('1579.00'), Decimal('1404.50'), Decimal('2713.50'), 32562, 12),
 ('Emily', 'Yogurt', Decimal('3079.00'), Decimal('2650.00'), Decimal('2161.00'), Decimal('730.00'), Decimal('2358.57'), 16510, 7),
 ('Emily', 'Cookies', Decimal('3130.67'), Decimal('3759.67'), Decimal('1716.00'), Decimal('2420.86'), Decimal('2672.81'), 42765, 16),
 ('Emily', 'Bread', Decimal('492.00'), Decimal('1720.20'), Decimal('807.00'), Decimal('2318.00'), Decimal('1534.30'), 15343, 10),
 ('Bloom', 'Pepsi', Decimal('526.00'), Decimal('1867.50'), Decimal('794.00'), Decimal('4373.50'), Decimal('1923.75'), 15390, 8)]