# <a id="1.Summary"> 1.Summary</a>

Hello Fresh Analyst SQL Test

<br>

# <a id="2.TableofContents">2.Tabole of Contents</a>
<a href="#1.Summary">Click this Link back to Top</a>

<ol>
    <li><a href="#1.Summary">Summary</a></li>
    <li><a href="#2.TableofContents">Tabole of Contents</a></li>
    <li><a href="#3.CreateFakeData">Create Fake Data</a>
    <ul>
        <li><a href="#3.1">3.1 Case Desciprtion</a></li>
        <li><a href="#3.2PythonCode">3.2 Python Main Code</a></li>
        <li><a href="#3.3ConnectandTest">3.3 Connect and Test</a></li>
    </ul>
    </li>
    <li><a href="#4.SQLTest">SQL Test</a>
    <ul>
        <li><a href="#4.1">4.1 For each week of 2020 in the US, how many boxes did we deliver, and what revenue (in Euros) did those deliveries generate?</a></li>
        <li><a href="#4.2">4.2 How many delivery_weeks did the years 2019 and 2020 have?</a></li>
        <li><a href="#4.3">4.3 Fetch the customer IDs of all HelloFresh customers in the US who received their box for free on January 15, 2021</a></li>
        <li><a href="#4.4">4.4 What proportion of US-based customers chose to have a “Vegetarian Box” delivered in the past 7 days? Bonus points if you make the range dynamic.</a></li> 
        <li><a href="#4.5">4.5 On average, how loyal are iOS users in the US compared to Android users? (Loyalty can be defined as the total count of boxes the customer has received ever since they joined HelloFresh)</a></li> 
        <li><a href="#4.6">4.6 How many customers have ordered more than one type of product since they joined HelloFresh?</a></li> 
    </ul>
    </li>
</ol>

<br>

# <a id="3.CreateFakeData">3.Create Fake Data</a>
<a href="#1.Summary">Click this Link back to Top</a>

In order to mointor best database environment, I used python to create a fake dataset and upload to Cloud MS SQL Server database

## <a id="3.1">3.1 Case Desciprtion</a>
<a href="#1.Summary">Click this Link back to Top</a>

#### Given the following table structures:
- boxes_shipped (box_id: int,delivery_date: date,customer_id: int,product_id: int,revenue_eur: float,country: string,delivery_week: string)
- customers (customer_id: int,country: string,device_type: string,customer_since: date)
- products (product_id: int,country: string,product_name: string,product_family: string)



#### Important information:
- ●All tables might have additional columns, which are not necessary in this example.
- ● You may not need to use all tables in every task.
- ● All tables are clean and have no duplicate records, and contain data for 2016 onward.
- ● A given customer, in a given country, may have between 0 and 1 delivered boxes for a given week.
- ● Each order belongs to a product type: it’s product_name can be a ‘Classic Box’, a ‘Family Box’, or a ‘Vegetarian Box’. Each product_name is assigned an integer-based product_id.
- ● The “device_type” field in customers can be represented by “iOS” or “Android”.
- ● Customer IDs are unique within each country, but not necessarily across countries.
- ● Dates are stored in a DATE field (Y YYY-MM-DD) .
- ● boxes_shipped.delivery_week follows the format Y YYY-WXX (e.g: 2021-W01 = first week of 2021, followed by week 2021-W02, and so on).


#### Based on the above, please answer the following questions, creating a SQL query to retrieve the data for each one of those:
- 1) For each week of 2020 in the US, how many boxes did we deliver, and what revenue (in Euros) did those deliveries generate?
- 2) How many delivery_weeks did the years 2019 and 2020 have?
- 3) Fetch the customer IDs of all HelloFresh customers in the US who received their box for free on January 15, 2021.
- 4) What proportion of US-based customers chose to have a “Vegetarian Box” delivered in the past 7 days? Bonus points if you make the range dynamic.
- 5) On average, how loyal are iOS users in the US compared to Android users? (Loyalty can be defined as the total count of boxes the customer has received ever since they joined HelloFresh)
- 6) How many customers have ordered more than one type of product since they joined HelloFresh?

<br>

## <a id="3.2PythonCode">3.2 Python Main Code</a>
<a href="#1.Summary">Click this Link back to Top</a>

In [2]:
# use to create dataframe
import pandas as pd
# use to create random number
import numpy as np
# we use pyodbc to control sql server
import pyodbc
# create random string like deviece_type and product_name
import random
# create start and end datetime
from datetime import datetime

# some data we can use faker to generate
from faker import Faker
# example to add provider
from faker.providers import internet
# use Provider.pyfloat to generate random numerical number
from faker.providers.python import Provider


# from collections import defaultdict

class GenerateDatabase(object):
    """
    Use this class to gernerate fake database data and insert into online data
    """
    def __init__(self, num):
        """
        """
        self.test = 1
        # how many rows for this data, 
        self.num = num
        # settings of database / database connection seting
        # self.SERVER = 'server-test-04.database.windows.net'
        self.SERVER = 'admin00wasabi00.cwnlxmaaxhrc.us-east-1.rds.amazonaws.com'
        self.DATABASE = 'db_contoso' 
        self.USERNAME = 'admin' 
        self.PASSWORD = '00wasabi00' 
        
    def create_df(self):
        """
        We don't have so much time, so we integreate a few function into one single fucntion,
        which should be sepreate into different coupling functions
        """
        
        #**************ETL box_shipped table*****************
        # box id range is [0,10]
        list_box_id = self.fun_box_id()
        # datetime formate
        list_delivery_date = self.fun_delivery_date(start = datetime(2017,1,1), end = datetime(2021,1,1))
        # customer_id range
        list_customer_id = self.fun_customer_id(extra = 3)
        # puroduct_id range [1001, 1010]
        list_product_id = self.fun_product_id()
        # revenue range(0.00, 100.00)
        list_revenue_eur = self.fun_revenue_eur()
        # there might be contain at least two country, there will be 2 extra columns be UK
        list_country = self.fun_country(extra = 3)
        #
        list_delivery_week = self.fun_delivery_week(list_delivery_date)
        
        # integreate into dataframe
        list_of_tuples_1 = list(zip(list_box_id, 
                                  list_delivery_date,
                                  list_customer_id,
                                  list_product_id,
                                  list_revenue_eur,
                                  list_country,
                                  list_delivery_week))
        # 
        df_boxed_shipped = pd.DataFrame(list_of_tuples_1,
                                        columns = ['box_id', 
                                                   'delivery_date',
                                                   'customer_id',
                                                   'product_id',
                                                   'revenue_eur',
                                                   'country',
                                                   'delivery_week'])
        print(df_boxed_shipped.head(5))
        
        self.load_to_boxdb(df_boxed_shipped, drop_old = 1)
        #**************ETL box_shipped table*****************
        
        
        
        
        #****************ETL customers table*********************
        # we assume three is not accross country delivery
        # for Customers table, id+country is primary key
        # it shold be more customers in one country compare to box_shippped table, but i don't have enough time
        #list_customer_id = self.fun_customer_id(extra = 3)
        # country reamin same as boxes_shipped table
        #list_country = self.fun_country(extra = 3)
        # random list type
        list_device_type = self.fun_device_type()
        # simple random, since it might not that useful
        list_customer_since = self.fun_delivery_date(start = datetime(2016,1,1), end = datetime(2017,1,1))
        list_of_tuples_2 = list(zip(list_customer_id, 
                                  list_country,
                                  list_device_type,
                                  list_customer_since))
        # 
        df_customers = pd.DataFrame(list_of_tuples_2,
                                        columns = ['customer_id', 
                                                   'country',
                                                   'device_type',
                                                   'customer_since'])
        print(df_customers.head(5))
        self.load_to_customers(df_customers, drop_old = 1)
        #****************ETL customers table*********************
        
        
        #****************ETL products table*********************
        # use a new function to get only a small 3 box id result
        list_product = self.fun_product()
        # we can assume differnet country has same product_id
        # list_country = self.fun_country(extra = 3)
        list_product_name = self.fun_product_name()
        list_product_family = self.fun_product_name()
        list_of_tuples_3 = list(zip(list_product, 
                                  list_country,
                                  list_product_name,
                                  list_product_family))
        # 
        df_products = pd.DataFrame(list_of_tuples_3,
                                        columns = ['product_id', 
                                                   'country',
                                                   'product_name',
                                                   'product_family'])
        print(df_products.head(5))
        self.load_to_products(df_products, drop_old = 1)
        #****************ETL products table*********************
        
        #****************** test part *************************
        # add new provide so can still can same fake, this is test part
        # fake.add_provider(internet)
        # print(fake_1.ipv4_private())
        # print(self.num)
        #****************** test part *************************
        
        return df_boxed_shipped, df_customers, df_products
        
        
        
        
        
        
    def fun_box_id(self):
        """
        """
        # create list
        list_box_id = []
        # box id range is [0,10]
        for i in range(1, self.num+1):
            list_box_id.append(i)
            i+=1
        
        return list_box_id
    
    def fun_delivery_date(self, start, end):
        """
        """
        # Faker is a dynamci calss when we need new provider, we can directly add to this class
        fake = Faker()
        # set random seed
        Faker.seed(1024)
        # create list
        list_delivery_date = list()
        # create fate datetime formate data from Faker
        for _ in range(self.num+1):
            # print(fake.date_between(start_date='-4y', end_date='today'))
            # from 2017 -2021
            # list_delivery_date.append(fake.date_between(start_date='-4y', end_date='today'))
            list_delivery_date.append(fake.date_between_dates(date_start=start, date_end=end))
        # print(list_delivery_date)
        
        return list_delivery_date
    
    
    def fun_customer_id(self, extra = 0):
        """
        """
        list_customer_id = list()
        for i in range(1, self.num+1 - extra):
            list_customer_id.append(i+100)
        for j in range(1, extra+1):
            list_customer_id.append(j+100)
            
        return list_customer_id
    
    def fun_product_id(self):
        """
        Each product_name is assigned an integer-based product_id.
        We have the type of box, so only randomly provide three INT product id
        """
        list_product_id = list()
        for i in range(1, self.num+1):
            list_product_id.append(np.random.randint(1001,1004))

        return list_product_id
    
    def fun_product(self):
        """
        one proudct_id compare to one product_name
        """
        list_product = list()
        for i in range(1, 4):
            list_product.append(i+1000)

        return list_product
    
    
    def fun_country(self,extra = 0):
        """
        Customer IDs are unique within each country, but not necessarily across countries.
        Use another parameter "extra" to creat extra rows with another few columns belong to UK,
        The first self.num-self.extra will belong to US
        """
        list_country = []
        for _ in range(1, self.num +1  - extra):
            list_country.append('US')
        # extra few columns will be UK
        for _ in range(extra):
            list_country.append('UK')
            
        return list_country
        
    
    def fun_revenue_eur(self):
        """
        """
        # Faker is a dynamci calss when we need new provider, we can directly add to this class
        fake = Faker()
        # set random seed
        Faker.seed(1024)
        # add class Provider which contain function pyfloat
        fake.add_provider(Provider)
        #
        list_revenue_eur = list()
        for _ in range(1, self.num + 1):
            # print(fake.pyfloat(left_digits = 3, right_digits = 2, positive = True, min_value = 1.00, max_value = 100.00))
            list_revenue_eur.append(fake.pyfloat(left_digits = 3, 
                                                 right_digits = 2, 
                                                 positive = True, 
                                                 min_value = 1.00, 
                                                 max_value = 100.00))
        # print(list_revenue_eur)
        
        return list_revenue_eur

    def fun_delivery_week(self, list_delivery_date):
        """
        do not generate, just extract week info from former data
        """
        list_delivery_week = []
        for i in range(self.num+1):
            # transform the datetime() data type to string format
            # first [0] is the year, second [1] is the week
            list_delivery_week.append(str(list_delivery_date[i].isocalendar()[0])
                                      + '-W'
                                      + str(list_delivery_date[i].isocalendar()[1])
                                     ) 
        # print(list_delivery_week)
        return list_delivery_week
    
    def fun_device_type(self):
        """
        The “device_type” field in customers can be represented by “iOS” or “Android”.
        """
        list_type = ['IOS', 'Android']
        # initial list
        list_device_type = list()
        for i in range(1,self.num+1):
            list_device_type.append(random.choice(list_type))
            
        return list_device_type
    
    
    def fun_product_name(self):
        """
        """
        list_name = ['Classic Box', 'Family Box', 'Vegetarian Box']
        # initial list
        list_product_name = []
        for i in range(0, 3):
            list_product_name.append(list_name[i])
            
        return list_product_name
        
        
    
    def load_to_boxdb(self, df, drop_old = None):
        """
        Loading data into Azure SQL Server
        
        Args:
        -----
        df:pd.dataframe
            response from api and already extrat the pure data part
            
        Returns:
        -------
        df
        """
        # convert json data structure to dataframe structure, more like row/column table format
        # df = pd.json_normalize(json_data)
        # print(df.head(2))
        # build connection to cloud sql server
        conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+ \
                              self.SERVER +';DATABASE='+ \
                              self.DATABASE +';UID='+ \
                              self.USERNAME +';PWD='+ \
                              self.PASSWORD)
        cursor = conn.cursor()
        # add a test 
        # print(cursor.execute("SELECT TOP 3 * FROM sales_1070"))
        # expection print result is column names "sale_id product_id year quantity price"
        for row in cursor.columns(table='sales_1070'):
           print(row.column_name)
        # since we might channge former table defination anytime
        if drop_old:
            cursor.execute("DROP TABLE boxes_shipped")
        else:
            print("Didn't trop table")
        # it seems for datatype 'DATA', there is a little incompatible
        cursor.execute("CREATE TABLE boxes_shipped(\
                        box_id INT ,\
                        delivery_date DATE,\
                        customer_id INT,\
                        product_id INT,\
                        revenue_eur FLOAT,\
                        country VARCHAR(10),\
                        delivery_week VARCHAR(20)\
                        )")
        # must commit to enable the change you made
        cursor.commit()
        cursor.close()
        
        # create a cursor
        cursor = conn.cursor()
        # Insert Dataframe into SQL Server:
        for index, row in df.iterrows():
#             cursor.execute("INSERT INTO boxes_shipped (box_id, delivery_date, customer_id, product_id,\
#                            revenue_eur, country, delivery_week) values(?,?,?,?,?,?,?)", 
#                            row.box_id, row.delivery_date, row.customer_id, row.product_id,
#                            row.revenue_eur, row.country, row.delivery_week)
            cursor.execute("INSERT INTO boxes_shipped (box_id, delivery_date,  customer_id, product_id,\
                            revenue_eur, country, delivery_week) values(?,?,?,?,?,?,?)", 
                           row.box_id, row.delivery_date, row.customer_id, row.product_id, 
                           row.revenue_eur, row.country, row.delivery_week)
        # if you don't commit() all change will not operate
        conn.commit()
        # remember to close connection
        cursor.close()
        
        return None
        
        
    def load_to_customers(self, df, drop_old = None):
        """
        Loading data into Azure SQL Server
        
        Args:
        -----
        df:pd.dataframe
            response from api and already extrat the pure data part
            
        Returns:
        -------
        df
        """
        # convert json data structure to dataframe structure, more like row/column table format
        # df = pd.json_normalize(json_data)
        # print(df.head(2))
        # build connection to cloud sql server
        conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+ \
                              self.SERVER +';DATABASE='+ \
                              self.DATABASE +';UID='+ \
                              self.USERNAME +';PWD='+ \
                              self.PASSWORD)
        cursor = conn.cursor()
        # add a test 
        # print(cursor.execute("SELECT TOP 3 * FROM sales_1070"))
        # expection print result is column names "sale_id product_id year quantity price"
        # for row in cursor.columns(table='sales_1070'):
        #   print(row.column_name)
        # since we might channge former table defination anytime
        if drop_old:
            cursor.execute("DROP TABLE customers")
        else:
            print("Didn't trop table")
        # it seems for datatype 'DATA', there is a little incompatible
        cursor.execute("CREATE TABLE customers(\
                        customer_id INT,\
                        country VARCHAR(10),\
                        device_type VARCHAR(10),\
                        customer_since DATE \
                        )")
        # must commit to enable the change you made
        cursor.commit()
        cursor.close()
        
        # create a cursor
        cursor = conn.cursor()
        # Insert Dataframe into SQL Server:
        for index, row in df.iterrows():
#             cursor.execute("INSERT INTO boxes_shipped (box_id, delivery_date, customer_id, product_id,\
#                            revenue_eur, country, delivery_week) values(?,?,?,?,?,?,?)", 
#                            row.box_id, row.delivery_date, row.customer_id, row.product_id,
#                            row.revenue_eur, row.country, row.delivery_week)
            cursor.execute("INSERT INTO customers (customer_id, country, device_type, customer_since)\
                            values(?,?,?,?)", 
                           row.customer_id, row.country, row.device_type, row.customer_since)
        # if you don't commit() all change will not operate
        conn.commit()
        # remember to close connection
        cursor.close()

        return None
    
    
    
    def load_to_products(self, df, drop_old = None):
        """
        Loading data into Azure SQL Server
        
        Args:
        -----
        df:pd.dataframe
            response from api and already extrat the pure data part
            
        Returns:
        -------
        df
        """
        # convert json data structure to dataframe structure, more like row/column table format
        # df = pd.json_normalize(json_data)
        # print(df.head(2))
        # build connection to cloud sql server
        conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+ \
                              self.SERVER +';DATABASE='+ \
                              self.DATABASE +';UID='+ \
                              self.USERNAME +';PWD='+ \
                              self.PASSWORD)
        cursor = conn.cursor()
        # add a test 
        # print(cursor.execute("SELECT TOP 3 * FROM sales_1070"))
        # expection print result is column names "sale_id product_id year quantity price"
        # for row in cursor.columns(table='sales_1070'):
        #   print(row.column_name)
        # since we might channge former table defination anytime
        if drop_old:
            cursor.execute("DROP TABLE products")
        else:
            print("Didn't trop table")
        # it seems for datatype 'DATA', there is a little incompatible
        cursor.execute("CREATE TABLE products(\
                        product_id INT,\
                        country VARCHAR(10),\
                        product_name VARCHAR(20),\
                        product_family VARCHAR(20) \
                        )")
        # must commit to enable the change you made
        cursor.commit()
        cursor.close()
        
        # create a cursor
        cursor = conn.cursor()
        # Insert Dataframe into SQL Server:
        for index, row in df.iterrows():
            cursor.execute("INSERT INTO products (product_id, country, product_name, product_family)\
                            values(?,?,?,?)",
                           row.product_id, row.country, row.product_name, row.product_family)
        # if you don't commit() all change will not operate
        conn.commit()
        # remember to close connection
        cursor.close()

        return None

In [4]:
def main():
    """
    """
    class_f = GenerateDatabase(10)
    df_boxed_shipped, df_customers, df_products = class_f.create_df()
    
    return df_boxed_shipped, df_customers, df_products

if __name__ == "__main__":
    """
    """
    df_boxed_shipped, df_customers, df_products = main()

   box_id delivery_date  customer_id  product_id  revenue_eur country  \
0       1    2020-05-23          101        1002         3.61      US
1       2    2017-01-30          102        1001        50.41      US
2       3    2019-01-22          103        1001        67.12      US
3       4    2020-08-13          104        1003        57.65      US
4       5    2018-08-28          105        1002        47.92      US

  delivery_week
0      2020-W21
1       2017-W5
2       2019-W4
3      2020-W33
4      2018-W35
sale_id
product_id
year
quantity
price
   customer_id country device_type customer_since
0          101      US         IOS     2016-11-05
1          102      US         IOS     2016-01-08
2          103      US         IOS     2016-07-06
3          104      US         IOS     2016-11-26
4          105      US     Android     2016-05-31
   product_id country    product_name  product_family
0        1001      US     Classic Box     Classic Box
1        1002      US      Family Box      Family Box
2        1003      US  Vegetarian Box  Vegetarian Box

<br>

<br>

<br>

## <a id="3.3ConnectandTest">3.3Connect and Test</a>
<a href="#1.Summary">Click this Link back to Top</a>

Connect to remote database and display all test tables

In [151]:
# %load_ext sql
%reload_ext sql
# mssql+pyodbc://admin:test_12345@localhost:1433/TestDB?driver=ODBC+Driver+17+for+SQL+Server
 
%sql mssql+pyodbc://admin:00wasabi00@admin00wasabi00.cwnlxmaaxhrc.us-east-1.rds.amazonaws.com:1433/db_contoso?driver=ODBC+Driver+17+for+SQL+Server

'Connected: admin@db_contoso'

In [79]:
%%sql
SELECT * FROM boxes_shipped

 * mssql+pyodbc://admin:***@admin00wasabi00.cwnlxmaaxhrc.us-east-1.rds.amazonaws.com:1433/db_contoso?driver=ODBC+Driver+17+for+SQL+Server
Done.

[(1, datetime.date(2020, 5, 23), 101, 1001, 3.61, 'US', '2020-W21'),
 (2, datetime.date(2017, 1, 30), 102, 1002, 50.41, 'US', '2017-W5'),
 (3, datetime.date(2019, 1, 22), 103, 1002, 67.12, 'US', '2019-W4'),
 (4, datetime.date(2020, 8, 13), 104, 1001, 57.65, 'US', '2020-W33'),
 (5, datetime.date(2018, 8, 28), 105, 1001, 47.92, 'US', '2018-W35'),
 (6, datetime.date(2018, 5, 18), 106, 1001, 92.47, 'US', '2018-W20'),
 (7, datetime.date(2020, 7, 12), 107, 1001, 50.12, 'US', '2020-W28'),
 (8, datetime.date(2020, 5, 16), 101, 1001, 92.95, 'UK', '2020-W20'),
 (9, datetime.date(2020, 9, 14), 102, 1002, 18.49, 'UK', '2020-W38'),
 (10, datetime.date(2019, 3, 19), 103, 1001, 14.52, 'UK', '2019-W12')]

In [78]:
%%sql
SELECT * FROM customers

 * mssql+pyodbc://admin:***@admin00wasabi00.cwnlxmaaxhrc.us-east-1.rds.amazonaws.com:1433/db_contoso?driver=ODBC+Driver+17+for+SQL+Server
Done.

[(101, 'US', 'Android', datetime.date(2016, 11, 5)),
 (102, 'US', 'IOS', datetime.date(2016, 1, 8)),
 (103, 'US', 'IOS', datetime.date(2016, 7, 6)),
 (104, 'US', 'Android', datetime.date(2016, 11, 26)),
 (105, 'US', 'IOS', datetime.date(2016, 5, 31)),
 (106, 'US', 'IOS', datetime.date(2016, 5, 5)),
 (107, 'US', 'Android', datetime.date(2016, 11, 18)),
 (101, 'UK', 'Android', datetime.date(2016, 11, 3)),
 (102, 'UK', 'Android', datetime.date(2016, 12, 4)),
 (103, 'UK', 'IOS', datetime.date(2016, 7, 20))]

In [11]:
%%sql
SELECT * FROM products

 * mssql+pyodbc://admin:***@admin00wasabi00.cwnlxmaaxhrc.us-east-1.rds.amazonaws.com:1433/db_contoso?driver=ODBC+Driver+17+for+SQL+Server
Done.

[(1001, 'US', 'Classic Box', 'Classic Box'),
 (1002, 'US', 'Family Box', 'Family Box'),
 (1003, 'US', 'Vegetarian Box', 'Vegetarian Box')]

<br>

<br>

<br>

# <a id="4.SQLTest">4.SQL Test</a>
<a href="#1.Summary">Click this Link back to Top</a>

## <a id="4.1">4.1 For each week of 2020 in the US, how many boxes did we deliver, and what revenue (in Euros) did those deliveries generate?</a>
<a href="#1.Summary">Click this Link back to Top</a>

In [152]:
%%sql
SELECT
    delivery_week,
    COUNT(box_id) AS total_boxes,
    SUM(revenue_eur) AS total_revenue
FROM
    boxes_shipped
WHERE
    country = 'US'
    -- since deliver_week is string, we can use SUBSTRING(delivery_date)
    -- and we also can use YEAR() to extra from delivery_date
    AND YEAR(delivery_date) = 2020
GROUP BY
    delivery_week

 * mssql+pyodbc://admin:***@admin00wasabi00.cwnlxmaaxhrc.us-east-1.rds.amazonaws.com:1433/db_contoso?driver=ODBC+Driver+17+for+SQL+Server
Done.

[('2020-W21', 1, 3.61), ('2020-W28', 1, 50.12), ('2020-W33', 1, 57.65)]

<br>

## <a id="4.2">4.2 How many delivery_weeks did the years 2019 and 2020 have?</a>
<a href="#1.Summary">Click this Link back to Top</a>

According to 'Important information' section, it might have an another columns indicate 0 and 1 delivered boxes for a given week, But I didn't find this columns.I assume that there is a delivery happened when we have a delivery record

In [153]:
%%sql
SELECT 
    LEFT(delivery_week, 4) AS year,
    COUNT(DISTINCT delivery_week) AS num_delivery_week
FROM
    boxes_shipped
GROUP BY
    -- extract year from a string
    LEFT(delivery_week, 4)
HAVING
    LEFT(delivery_week, 4) = 2019
    OR LEFT(delivery_week, 4) = 2020

 * mssql+pyodbc://admin:***@admin00wasabi00.cwnlxmaaxhrc.us-east-1.rds.amazonaws.com:1433/db_contoso?driver=ODBC+Driver+17+for+SQL+Server
Done.

[('2019', 2), ('2020', 5)]

<br>

## <a id="4.3">4.3 Fetch the customer IDs of all HelloFresh customers in the US who received their box for free on January 15, 2021.</a>
<a href="#1.Summary">Click this Link back to Top</a>

Tradionally, this requrey need to join boxes_shipped table and customers table to get more information from customers table. But we already have the required info, customer_id, from our query request, we can just use boxes_shipped to complete this query.

In [154]:
%%sql
SELECT
    -- for each customer, it might bought several boxes at one time
    DISTINCT customer_id
FROM
    boxes_shipped
WHERE
    delivery_date = '2021-01-15'
    AND revenue_eur = 0
    AND country = 'US'

 * mssql+pyodbc://admin:***@admin00wasabi00.cwnlxmaaxhrc.us-east-1.rds.amazonaws.com:1433/db_contoso?driver=ODBC+Driver+17+for+SQL+Server
0 rows affected.

[]

<br>

## <a id="4.4">4.4 What proportion of US-based customers chose to have a “Vegetarian Box” delivered in the past 7 days? Bonus points if you make the range dynamic.</a>
<a href="#1.Summary">Click this Link back to Top</a>

This query request is not specific requirements. So, I wrote different versions for this one sentence requests

The first version, we simply calculate recent past 7 days result

In [137]:
%%sql
DECLARE @current_date DATE = GETDATE()
SELECT
    (
        SELECT
            --b.box_id,
            --b.delivery_date,
            --p.product_name
            COUNT(b.customer_id) AS count_cust
        FROM
            boxes_shipped AS b
        LEFT JOIN
            products AS p
            ON b.product_id = p.product_id
        WHERE
            b.country = 'US'
            AND p.product_name = 'Vegetarian Box'
            AND b.delivery_date BETWEEN DATEADD(day,-7,@current_date) AND @current_date
    )
    /
    -- sometime, we don't have any customers fit this reqirements, so we return NULL to avoid divided by zero
    NULLIF(COUNT(customer_id), 0) AS propostion_veg
FROM
    boxes_shipped b1
LEFT JOIN
    products AS p1
    ON b1.product_id = p1.product_id
WHERE
    b1.country = 'US'
    AND b1.delivery_date BETWEEN DATEADD(day,-7,@current_date) AND @current_date

 * mssql+pyodbc://admin:***@admin00wasabi00.cwnlxmaaxhrc.us-east-1.rds.amazonaws.com:1433/db_contoso?driver=ODBC+Driver+17+for+SQL+Server
Done.

[(None,)]

#### This a variable version

In [139]:
%%sql
-- test with another time rage
DECLARE @current_date DATE = '2020-08-17'
SELECT
    (
        SELECT
            --b.box_id,
            --b.delivery_date,
            --p.product_name
            COUNT(b.customer_id) AS count_cust
        FROM
            boxes_shipped AS b
        LEFT JOIN
            products AS p
            ON b.product_id = p.product_id
        WHERE
            b.country = 'US'
            AND p.product_name = 'Vegetarian Box'
            AND b.delivery_date BETWEEN DATEADD(day,-7,@current_date) AND @current_date
    )
    / 
    -- sometime, we don't have any customers fit this reqirements, so we return NULL to avoid divided by zero
    NULLIF(COUNT(customer_id), 0) AS propostion_veg
FROM
    boxes_shipped b1
LEFT JOIN
    products AS p1
    ON b1.product_id = p1.product_id
WHERE
    b1.country = 'US'
    AND b1.delivery_date BETWEEN DATEADD(day,-7,@current_date) AND @current_date

 * mssql+pyodbc://admin:***@admin00wasabi00.cwnlxmaaxhrc.us-east-1.rds.amazonaws.com:1433/db_contoso?driver=ODBC+Driver+17+for+SQL+Server
Done.

[(1,)]

<br>

Second Version
- we calcualte very past 7 days propotion as a new column

<br>

## <a id="4.5">4.5 On average, how loyal are iOS users in the US compared to Android users? (Loyalty can be defined as the total count of boxes the customer has received ever since they joined HelloFresh)</a>
<a href="#1.Summary">Click this Link back to Top</a>

We assume the customers.customers_since is the create date for each customers. Theoretically, for each customers, all delivery_date will be later than his own create time which is customers_since columns. But we still add this restriction in our query

In [70]:
%%sql
WITH w_join
-- I tried to avoid join big tables at first, but we need customer_since infomation from customers table first
AS
(
    SELECT
        b.box_id,
        b.customer_id,
        b.country,
        b.delivery_date,
        c.device_type,
        c.customer_since
    FROM
        boxes_shipped AS b
    LEFT JOIN
        customers AS c
        ON b.customer_id = c.customer_id
        -- typically, delivery_date must be later than customer_since
        AND c.customer_since < b.delivery_date
    WHERE
        b.country = 'US'  
),
w_count
AS
(
    SELECT
        device_type,
        COUNT(box_id) AS total_boxes,
        COUNT(customer_id) AS total_cust,
        -- for each type of user (IOS/Andriod), how many average boxes the user brought
        -- transfomer to FLOAT and keep 2 decimal points
        ROUND(CAST(COUNT(box_id)/COUNT(customer_id) AS FLOAT), 2) AS box_per_user
    FROM
        w_join
    GROUP BY
        device_type
)
SELECT
    *
FROM
    w_count

 * mssql+pyodbc://admin:***@admin00wasabi00.cwnlxmaaxhrc.us-east-1.rds.amazonaws.com:1433/db_contoso?driver=ODBC+Driver+17+for+SQL+Server
Done.

[('Android', 3, 3, 1.0), ('IOS', 7, 7, 1.0)]

<br>

## <a id="4.6">4.6 How many customers have ordered more than one type of product since they joined HelloFresh?</a>
<a href="#1.Summary">Click this Link back to Top</a>

- I tried to create a fake dataset first to make sure my logic and query is right
- Consider GROUP BY country and for each box, it might contain one more product (someone ordered two boxes onetime)

In [88]:
%%sql
WITH 
w_join
AS
(
    SELECT
        b.box_id,
        b.customer_id,
        b.country,
        p.product_id,
        p.product_name
    FROM
        boxes_shipped AS b
    LEFT JOIN
        customers AS c
        ON b.customer_id = c.customer_id
        -- customer_id are ONLY unique within each country
        AND b.country = c.country
        AND b.delivery_date > c.customer_since
    LEFT JOIN
        products AS p
        ON b.product_id = p.product_id
),
w_count
AS
(
    SELECT
        customer_id,
        country,
        product_name,
        ROW_NUMBER() OVER(PARTITION BY customer_id, country ORDER BY box_id) AS product_count
    FROM
        w_join
),
w_group
AS
(
    SELECT
        country,
        -- for each country, how many customers have purchase more than one type of 
        COUNT(customer_id) AS total_customers
    FROM
        w_count
    WHERE
        product_count > 1
    GROUP BY
        country
)
SELECT
    *
FROM
    w_group

 * mssql+pyodbc://admin:***@admin00wasabi00.cwnlxmaaxhrc.us-east-1.rds.amazonaws.com:1433/db_contoso?driver=ODBC+Driver+17+for+SQL+Server
0 rows affected.

[]

<br>

Following result is the same query but using fake data

In [90]:
%%sql
WITH 
w_union
-- this part is used to create fake data, we mannually create 
AS
(
    SELECT
        *
    FROM
        boxes_shipped
    
    UNION ALL
    
    SELECT
        *
    FROM
        boxes_shipped
    WHERE
        customer_id = 101
),
w_join
AS
(
    SELECT
        b.box_id,
        b.customer_id,
        b.country,
        p.product_id,
        p.product_name
    FROM
        w_union AS b
    LEFT JOIN
        customers AS c
        ON b.customer_id = c.customer_id
        -- customer_id are ONLY unique within each country
        AND b.country = c.country
        AND b.delivery_date > c.customer_since
    LEFT JOIN
        products AS p
        ON b.product_id = p.product_id
),
w_count
AS
(
    SELECT
        customer_id,
        country,
        product_name,
        ROW_NUMBER() OVER(PARTITION BY customer_id, country ORDER BY box_id) AS product_count
    FROM
        w_join
),
w_group
AS
(
    SELECT
        country,
        -- for each country, how many customers have purchase more than one type of 
        COUNT(customer_id) AS total_customers
    FROM
        w_count
    WHERE
        product_count > 1
    GROUP BY
        country
)
SELECT
    *
FROM
    w_group

 * mssql+pyodbc://admin:***@admin00wasabi00.cwnlxmaaxhrc.us-east-1.rds.amazonaws.com:1433/db_contoso?driver=ODBC+Driver+17+for+SQL+Server
Done.

[('UK', 1), ('US', 1)]

<br>

<br>

<br>